<wm-partial data-ng-controller="discountPartialPageController" name="partial1">
    <wm-list listclass="list-group" itemclass="list-group-item" template="true" itemsperrow="xs-1 sm-1 md-1 lg-1" class="media-list" name="GetDiscountsList1" dataset="bind:Variables.GetDiscounts.dataSet" navigation="None" title="Discounts Applied">
        <wm-listtemplate layout="inline" name="listtemplate2">
            <wm-container class="media-body" padding="unset unset unset 1.25em" name="container3">
                <wm-label name="Name" class="p media-heading" caption="bind:Variables.GetDiscounts.dataSet[$i]" fontsize="1.143" fontunit="em"></wm-label>
            </wm-container>
        </wm-listtemplate>
    </wm-list>
</wm-partial>