<wm-page data-ng-controller="CarrierQuestionsPageController" pagetitle="Carrier Questions" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-content name="content1" class="admin-page-layout">
        <wm-page-content columnwidth="12" name="page_content1" padding="100px unset unset unset" backgroundcolor="#fff">
            <wm-container name="QuestionsContainer">
                <wm-layoutgrid name="layoutgrid1">
                    <wm-gridrow name="gridrow1">
                        <wm-gridcolumn width="6" name="gridcolumn1"></wm-gridcolumn>
                        <wm-gridcolumn width="2" name="gridcolumn2">
                            <wm-label padding="unset 0.5em" name="label6" caption="CARRIER QUESTIONS" color="#3f3e4e" class="h2"></wm-label>
                        </wm-gridcolumn>
                        <wm-gridcolumn width="4" name="gridcolumn3"></wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow11">
                        <wm-gridcolumn width="6" name="gridcolumn1"></wm-gridcolumn>
                        <wm-gridcolumn width="6" name="gridcolumn1"></wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow2">
                        <wm-gridcolumn width="3" name="gridcolumn2">
                            <wm-label name="label1" caption="FILTER QUESTIONS" color="#3f3e4e" class="h4"></wm-label>
                        </wm-gridcolumn>
                        <wm-gridcolumn width="3" name="gridcolumn31"></wm-gridcolumn>
                        <wm-gridcolumn width="2" name="gridcolumn4"></wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow3">
                        <!--<wm-gridcolumn width="1" name="gridcolumn1"></wm-gridcolumn>-->
                        <wm-gridcolumn width="3" name="gridcolumn2" columnwidth="4">
                            <wm-composite name="composite3">
                                <wm-label class="col-md-3 control-label" name="label5" caption="State" padding=".5em unset unset unset" color="#3f3e4e"></wm-label>
                                <wm-container class="col-md-9" name="container4">
                                    <wm-select name="stateSelect" dataset="bind:Variables.GetStateValues.dataSet" datafield="listItemValue" displayfield="listItemValue" on-change="select3Change($event, $scope, newVal, oldVal)" orderby="listItemValue:asc" placeholder="Select State" on-click="stateSelectClick($event, $scope)"
                                        backgroundcolor="#f5f5f5"></wm-select>
                                </wm-container>
                            </wm-composite>
                        </wm-gridcolumn>
                        <wm-gridcolumn width="3" name="gridcolumn31" columnwidth="4">
                            <wm-composite name="composite15">
                                <wm-label class="col-md-3 control-label" caption="Carriers" name="label18" padding=".5em unset unset 0.5em" color="#3f3e4e"></wm-label>
                                <wm-container class="col-md-9" name="container22">
                                    <wm-select dataset="bind:Variables.getCarrierList.dataSet" datafield="carrierListId" displayfield="carrierName" on-change="carrierSelectChange($event, $scope, newVal, oldVal)" orderby="carrierName:desc" placeholder="Select Carrier" name="carrierSelect"
                                        backgroundcolor="#f5f5f5"></wm-select>
                                </wm-container>
                            </wm-composite>
                        </wm-gridcolumn>
                        <wm-gridcolumn width="3" name="gridcolumn33" columnwidth="4">
                            <wm-composite name="composite5" horizontalalign="right">
                                <wm-button class="btn-warning" caption="Add Question" type="button" margin="unset 0em unset 0.5em" name="button1" width="50%" color="#ffffff" backgroundcolor="#f9ac50" on-click="button1Click($event, $scope)"></wm-button>
                            </wm-composite>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow5">
                        <wm-gridcolumn width="3" name="gridcolumn14"></wm-gridcolumn>
                        <wm-gridcolumn width="3" name="gridcolumn15">
                            <wm-composite name="composite3_1">
                                <wm-container class="col-md-9" name="container4_1"></wm-container>
                            </wm-composite>
                        </wm-gridcolumn>
                        <wm-gridcolumn width="1" name="gridcolumn161"></wm-gridcolumn>
                        <wm-gridcolumn width="3" name="gridcolumn16"></wm-gridcolumn>
                        <wm-gridcolumn width="2" name="gridcolumn17"></wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow4">
                        <wm-gridcolumn width="6" name="gridcolumn3"></wm-gridcolumn>
                        <wm-gridcolumn width="6" name="gridcolumn4"></wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
                <wm-table name="GetIMQuestionMasterTable1" title="" dataset="bind:Variables.GetIMQuestionMaster.dataSet" navigation="Basic" multiselect="false" enablecolumnselection="true" on-rowclick="GetIMQuestionMasterTable1Rowclick($event, $scope, $rowData)" gridclass="table-striped table-hover admin-table"
                    navigationalign="right" showrecordcount="false">
                    <!--<wm-table-column binding="customField" caption="Lock" widget-type="checkbox" type="boolean" mobiledisplay="false" searchable="false" show="true" readonly="undefined">-->
                    <!--    <wm-checkbox scopedatavalue="row['customField']" disabled="{{colDef.readonly || !isGridEditMode}}" class="" data-ng-class=""></wm-checkbox>-->
                    <!--</wm-table-column>-->
                    <wm-table-column binding="stateCd" caption="State" width="10%" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="imCarrierList.carrierName" caption="Carrier" width="15%" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="effDate" caption="Effective Date" width="15%" edit-widget-type="text" type="string" datepattern="MM/dd/yyyy" formatpattern="toDate" show="true" readonly="false" on-click="$event.stopPropagation()"></wm-table-column>
                    <wm-table-column binding="questionText" caption="Questions" width="30%" edit-widget-type="text" type="string" show="true" readonly="false" on-click="questionTextOnClick($event, $scope, rowData)"></wm-table-column>
                    <wm-table-column binding="Defaults" caption="Default" width="15%" edit-widget-type="text" type="string" dataset="bind:Variables.getImQuestionAnswerLookup.dataSet" searchable="false" show="true" readonly="false" on-change="DefaultsOnChange($event, $scope, rowData)"
                        on-click="$event.stopPropagation()">
                        <wm-composite name="composite1">
                            <wm-container class="media-body" padding="unset unset unset 1.25em" name="Answercontainer" content="ansContainer1">
                                <wm-param name="qmi" value="bind:row.getProperty('questionMasterId')" type="string"></wm-param>
                                <wm-param name="isDisabled" value="bind:row.recordLock === 'Y'" type="string"></wm-param>
                                <wm-param name="answer_data_type" value="bind:row.getProperty('answerDataType')" type="string"></wm-param>
                            </wm-container>
                        </wm-composite>
                    </wm-table-column>
                    <wm-table-column binding="recordLock" caption="Lock" widget-type="checkbox" width="15%" edit-widget-type="text" type="string" show="true" readonly="false" on-change="recordLockOnChange($event, $scope, rowData)">
                        <wm-checkbox scopedatavalue="row['recordLock']" disabled="" class="" data-ng-class="" checkedvalue="YES" uncheckedvalue="NO" on-change="checkbox1Change($event, $scope, newVal, oldVal,rowData)"></wm-checkbox>
                    </wm-table-column>
                </wm-table>
            </wm-container>
        </wm-page-content>
    </wm-content>
    <wm-view class="dialog-view" name="view1">
        <wm-dialog dialogtype="design-dialog" modal="true" title="ADD QUESTION" iconclass="" name="addQuestion" class="edit-confirmation-modal">
            <wm-layoutgrid name="layoutgrid10">
                <wm-gridrow name="gridrow66">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn120">
                        <wm-form errormessage="" captionposition="top" title="" enctype="application/x-www-form-urlencoded" method="post" dataset="bind:Variables.CreateImQuestionMaster.dataSet" captionalign="left" name="CreateImQuestionMasterForm" class="client-formcls text-left no-pad-bottom">
                            <wm-layoutgrid columns="2" name="layoutgrid11">
                                <wm-gridrow name="gridrow53_1">
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn97">
                                        <wm-form-field displayname="Bulk" widget="switch" show="true" type="custom" name="bulkAdd" dataset="Yes,No" datafield="All Fields" defaultvalue="No" on-change="bulkAddChange($event, $scope, newVal, oldVal)"></wm-form-field>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn98"></wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow69">
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn124">
                                        <wm-form-field name="RequestBody_stateCd" readonly="false" displayname="State Code" key="RequestBody.stateCd" type="string" show="true" widget="select" placeholder="All" dataset="bind:Variables.GetStateValues.dataSet" datafield="listItemValue" displayfield="listItemValue"></wm-form-field>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn125">
                                        <wm-form-field name="RequestBody_carrierListId" readonly="false" displayname="Carrier List" key="RequestBody.carrierListId" type="integer" show="true" widget="select" placeholder="Enter value" dataset="bind:Variables.GetImCarrierList.dataSet" datafield="carrierListId"
                                            displayfield="carrierName" orderby="carrierName:desc"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow71">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn126">
                                        <!--<wm-form-field name="RequestBody_effDate" readonly="false" displayname="Effective Date" key="RequestBody.effDate" type="string" show="true" widget="date" placeholder="Enter value" defaultvalue="bind:Variables.GetIMQuestionMasterForId.dataSet.content[0].effDate"-->
                                        <!--    outputformat="MM/dd/yyyy"></wm-form-field>-->
                                        <wm-form-field name="RequestBody_effDate" readonly="false" displayname="Effective Date" key="RequestBody.effDate" type="string" show="true" widget="date" inputtype="date" placeholder="Enter value" outputformat="yyyy-MM-ddTHH:mm:ss"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow75">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn130">
                                        <wm-form-field name="typeOfQuestion" readonly="false" displayname="Type of Question" key="RequestBody.answerDataType" type="string" show="true" widget="select" placeholder="Enter value" dataset="bind:Variables.questionTypeData.dataSet" datafield="dataValue"
                                            displayfield="displayValue"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow731">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn129">
                                        <wm-form-field name="RequestBody_questionText" readonly="false" displayname="Question Text" key="RequestBody.questionText" type="string" show="true" widget="textarea" inputtype="text" placeholder="Enter value" height="50px"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow73">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn128">
                                        <wm-form-field name="RequestBody_nodeName" readonly="false" displayname="Question Node" key="RequestBody.nodeName" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="addMoreAnswers">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn105" class="popup-form">
                                        <wm-container name="addMoreAnswersContainer1" show="false">
                                            <wm-list listclass="list-group" itemclass="list-group-item" template="true" itemsperrow="xs-1 sm-1 md-1 lg-1" class="media-list app-panel-livelist pane panel" name="addAnswerList1" dataset="bind:Variables.answersList.dataSet" navigation="None">
                                                <wm-listtemplate layout="inline" name="Datalisttemplate">
                                                    <wm-container name="GridContainer">
                                                        <wm-layoutgrid name="List_Grid">
                                                            <wm-gridrow name="list_row">
                                                                <wm-gridcolumn width="8" name="disp_col">
                                                                    <wm-text type="text" datavalue="bind:Variables.answersList.dataSet.text" name="text{{$index}}" required="true" margin="unset 5px unset unset "></wm-text>
                                                                </wm-gridcolumn>
                                                                <wm-gridcolumn width="4" name="val_col" horizontalalign="right">
                                                                    <wm-text type="text" datavalue="bind:Variables.answersList.dataSet.code" name="code{{$index}}" required="true" margin="unset unset unset 5px"></wm-text>
                                                                </wm-gridcolumn>
                                                            </wm-gridrow>
                                                        </wm-layoutgrid>
                                                    </wm-container>
                                                </wm-listtemplate>
                                            </wm-list>
                                        </wm-container>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow42">
                                    <wm-gridcolumn width="12" name="gridcolumn93">
                                        <wm-anchor margin="unset 0.5em" name="addAnswerLink" caption="Add Answer" color="#f9ac50" on-click="addAnswerLinkClick($event, $scope)" show="bind:Widgets.CreateImQuestionMasterForm.formWidgets.typeOfQuestion.datavalue==&quot;DROPDOWN&quot;"></wm-anchor>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                            <wm-form-field name="RequestBody_recordLock" readonly="false" displayname="Record Lock" key="RequestBody.recordLock" type="string" show="false" widget="checkbox" placeholder="Enter value" viewmodewidget="label" defaultvalue="bind:Variables.GetIMQuestionMasterForId.dataSet.content[0].recordLock"
                                checkedvalue="YES" uncheckedvalue="NO"></wm-form-field>
                            <wm-buttongroup horizontalalign="center" class="form-action col-md-12" name="buttongroup2">
                                <!--<wm-button caption="Reset" type="reset" class="btn-secondary" name="button12"></wm-button>-->
                                <wm-button caption="Cancel" type="button" class="btn-warning" name="cancelButton" on-click="Widgets.addQuestion.close();cancelButtonClick($event, $scope)" backgroundcolor="#fff" bordercolor="#F9AE4F" color="#F9AE4F" width="120px"></wm-button>
                                <wm-button caption="Save" type="button" class="btn-warning" name="addQuestionButton" on-click="addQuestionButtonClick($event, $scope)" width="120px"></wm-button>
                            </wm-buttongroup>
                        </wm-form>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
        </wm-dialog>
    </wm-view>
    <wm-view class="dialog-view" name="view2">
        <wm-dialog dialogtype="design-dialog" modal="true" title="New Question" iconclass="" name="addBulk" class="edit-confirmation-modal">
            <wm-layoutgrid name="layoutgrid2" class="text-left">
                <wm-gridrow name="gridrow8">
                    <wm-gridcolumn width="6" name="gridcolumn25">
                        <wm-label padding="unset 0.5em" caption="Carrier" name="label9"></wm-label>
                    </wm-gridcolumn>
                    <wm-gridcolumn width="6" name="gridcolumn76"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow9">
                    <!--<wm-gridcolumn width="6" name="gridcolumn26">-->
                    <!--    <wm-composite name="composite4">-->
                    <!--        <wm-container class="col-md-9" name="container5">-->
                    <!--            <wm-select name="selectSelect1" dataset="bind:Variables.GetStateValues.dataSet" datafield="listItemValue" displayfield="listItemValue" placeholder="state"></wm-select>-->
                    <!--        </wm-container>-->
                    <!--    </wm-composite>-->
                    <!--</wm-gridcolumn>-->
                    <wm-gridcolumn width="6" name="gridcolumn25">
                        <wm-composite name="composite5_1">
                            <wm-container class="col-md-9" name="container6_1">
                                <wm-select name="carrierSelect1" placeholder="carrier" dataset="bind:Variables.GetCarrierQuestions.dataSet" datafield="All Fields"></wm-select>
                            </wm-container>
                        </wm-composite>
                    </wm-gridcolumn>
                    <wm-gridcolumn width="6" name="gridcolumn76"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow10">
                    <wm-gridcolumn width="6" name="gridcolumn26">
                        <wm-label padding="unset 0.5em" caption="Effective Date" name="label10"></wm-label>
                    </wm-gridcolumn>
                    <wm-gridcolumn width="6" name="gridcolumn25"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow11">
                    <wm-gridcolumn width="6" name="gridcolumn26">
                        <wm-composite name="composite6">
                            <wm-container class="col-md-9" name="container7">
                                <wm-date name="effectiveDate" datepattern="MM/dd/yyyy" outputformat="MM/dd/yyyy"></wm-date>
                            </wm-container>
                        </wm-composite>
                    </wm-gridcolumn>
                    <wm-gridcolumn width="6" name="gridcolumn25"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow12">
                    <wm-gridcolumn width="6" name="gridcolumn26">
                        <wm-label padding="unset 0.5em" caption="Type of Question" name="label10"></wm-label>
                    </wm-gridcolumn>
                    <wm-gridcolumn width="6" name="gridcolumn25"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow13">
                    <wm-gridcolumn width="6" name="gridcolumn26">
                        <wm-composite name="composite7">
                            <wm-container class="col-md-9" name="container8">
                                <wm-select name="questionType" dataset="Simple Text,Multiple Choice,Yes/No" datafield="All Fields"></wm-select>
                            </wm-container>
                        </wm-composite>
                    </wm-gridcolumn>
                    <wm-gridcolumn width="6" name="gridcolumn25"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow14">
                    <wm-gridcolumn width="6" name="gridcolumn26">
                        <wm-label padding="unset 0.5em" caption="Question" name="label10"></wm-label>
                    </wm-gridcolumn>
                    <wm-gridcolumn width="6" name="gridcolumn25"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow15">
                    <wm-gridcolumn width="6" name="gridcolumn25">
                        <wm-composite name="composite8">
                            <wm-container class="col-md-9" name="container9">
                                <wm-text name="questionText"></wm-text>
                            </wm-container>
                        </wm-composite>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow16">
                    <wm-gridcolumn width="6" name="gridcolumn26">
                        <wm-label padding="unset 0.5em" caption="Question Node" name="label10"></wm-label>
                    </wm-gridcolumn>
                    <wm-gridcolumn width="6" name="gridcolumn25"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow16_1">
                    <wm-gridcolumn width="6" name="gridcolumn41">
                        <wm-composite name="questionNode">
                            <wm-container class="col-md-9" name="container10">
                                <wm-text name="text2"></wm-text>
                            </wm-container>
                        </wm-composite>
                    </wm-gridcolumn>
                    <wm-gridcolumn width="6" name="gridcolumn42"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow37">
                    <wm-gridcolumn width="3" name="gridcolumn80"></wm-gridcolumn>
                    <wm-gridcolumn width="3" name="gridcolumn83" horizontalalign="right">
                        <wm-button class="btn-warning" caption="Cancel" type="button" margin="unset 0.5em" name="button5" color="#F9AE4F" bordercolor="#F9AE4F" backgroundcolor="#ffffff" width="120px"></wm-button>
                    </wm-gridcolumn>
                    <wm-gridcolumn width="3" name="gridcolumn82" horizontalalign="left">
                        <wm-button class="btn-warning" caption="Save" type="button" margin="unset 0.5em" name="button6" backgroundcolor="#F9AE4F" color="#ffffff" width="120px"></wm-button>
                    </wm-gridcolumn>
                    <wm-gridcolumn width="3" name="gridcolumn81"></wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
        </wm-dialog>
    </wm-view>
    <wm-view class="dialog-view" name="view3">
        <wm-dialog dialogtype="design-dialog" modal="true" title="EDIT QUESTION" iconclass="" name="EditQuestion" class="edit-confirmation-modal">
            <wm-layoutgrid name="layoutgrid2" class="text-left">
                <wm-gridrow name="gridrow8">
                    <wm-gridcolumn width="6" name="gridcolumn26">
                        <wm-label padding="unset 0.5em" caption="State" name="label10"></wm-label>
                    </wm-gridcolumn>
                    <wm-gridcolumn width="6" name="gridcolumn25">
                        <wm-label padding="unset 0.5em" caption="Carrier" name="label9"></wm-label>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow9">
                    <wm-gridcolumn width="6" name="gridcolumn26">
                        <wm-composite name="composite4">
                            <wm-container class="col-md-9" name="container5">
                                <wm-select name="selectSelect1" dataset="bind:Variables.GetStateValues.dataSet" datafield="listItemValue" displayfield="listItemValue" placeholder="All"></wm-select>
                            </wm-container>
                        </wm-composite>
                    </wm-gridcolumn>
                    <wm-gridcolumn width="6" name="gridcolumn25">
                        <wm-composite name="composite5_1">
                            <wm-container class="col-md-9" name="container6_1">
                                <wm-select name="carrierSelect1" placeholder="Carrier" dataset="bind:Variables.GetCarrierQuestions.dataSet" datafield="All Fields"></wm-select>
                            </wm-container>
                        </wm-composite>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow10">
                    <wm-gridcolumn width="6" name="gridcolumn26">
                        <wm-label padding="unset 0.5em" caption="Effective Date" name="label10"></wm-label>
                    </wm-gridcolumn>
                    <wm-gridcolumn width="6" name="gridcolumn25"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow11">
                    <wm-gridcolumn width="6" name="gridcolumn26">
                        <wm-composite name="composite6">
                            <wm-container class="col-md-9" name="container7">
                                <wm-date name="effectiveDate" datepattern="MM/dd/yyyy" outputformat="MM/dd/yyyy"></wm-date>
                            </wm-container>
                        </wm-composite>
                    </wm-gridcolumn>
                    <wm-gridcolumn width="6" name="gridcolumn25"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow12">
                    <wm-gridcolumn width="6" name="gridcolumn26">
                        <wm-label padding="unset 0.5em" caption="Type of Question" name="label10"></wm-label>
                    </wm-gridcolumn>
                    <wm-gridcolumn width="6" name="gridcolumn25"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow13">
                    <wm-gridcolumn width="6" name="gridcolumn26">
                        <wm-composite name="composite7">
                            <wm-container class="col-md-9" name="container8">
                                <wm-select name="questionType" dataset="Simple Text (open text field response),Yes/No,Multiple Choice (answers in dropdown menu)" datafield="All Fields"></wm-select>
                            </wm-container>
                        </wm-composite>
                    </wm-gridcolumn>
                    <wm-gridcolumn width="6" name="gridcolumn25"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow14">
                    <wm-gridcolumn width="6" name="gridcolumn26">
                        <wm-label padding="unset 0.5em" caption="Question" name="label10"></wm-label>
                    </wm-gridcolumn>
                    <wm-gridcolumn width="6" name="gridcolumn25"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow15">
                    <wm-gridcolumn width="6" name="gridcolumn25">
                        <wm-composite name="composite8">
                            <wm-container class="col-md-9" name="container9">
                                <wm-text name="questionText"></wm-text>
                            </wm-container>
                        </wm-composite>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow16">
                    <wm-gridcolumn width="6" name="gridcolumn26">
                        <wm-label padding="unset 0.5em" caption="Question Node" name="label10"></wm-label>
                    </wm-gridcolumn>
                    <wm-gridcolumn width="6" name="gridcolumn25"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow16_1">
                    <wm-gridcolumn width="6" name="gridcolumn41">
                        <wm-composite name="questionNode">
                            <wm-container class="col-md-9" name="container10">
                                <wm-text name="text2"></wm-text>
                            </wm-container>
                        </wm-composite>
                    </wm-gridcolumn>
                    <wm-gridcolumn width="6" name="gridcolumn42"></wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
            <wm-dialogactions name="dialogactions1" class="button-footer">
                <wm-button class="app-button" caption="Close" on-click="closeDialog()" name="button2" backgroundcolor="#F9AE4F" color="#fff"></wm-button>
            </wm-dialogactions>
        </wm-dialog>
    </wm-view>
    <wm-view class="dialog-view" name="view5">
        <wm-dialog dialogtype="design-dialog" modal="true" title="Edit Question" iconclass="" name="dialog5" class="edit-confirmation-modal">
            <wm-dialogactions name="dialogactions3"></wm-dialogactions>
            <wm-layoutgrid name="layoutgrid10">
                <wm-gridrow name="gridrow66">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn120">
                        <wm-form errormessage="" captionposition="top" title="" enctype="application/x-www-form-urlencoded" method="post" dataset="bind:Variables.updateImQuestionMaster.dataSet" captionalign="left" name="UpdateImQuestionMasterForm" class="client-formcls text-left no-pad-bottom"
                            formdata="bind:$scope.Variables.GetIMQuestionMasterForId.dataSet.content[0]">
                            <wm-layoutgrid columns="2" name="layoutgrid11">
                                <wm-gridrow name="gridrow72">
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn12_1">
                                        <wm-form-field displayname="BulK" widget="switch" show="true" type="custom" name="bulkEditField" dataset="Yes,No" defaultvalue="No" datafield="All Fields" on-change="bulkEditFieldChange($event, $scope, newVal, oldVal)"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow69">
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn124">
                                        <wm-form-field name="RequestBody_stateCode" readonly="false" displayname="State" key="RequestBody.stateCd" type="string" show="true" widget="select" placeholder="All" dataset="bind:Variables.GetStateValues.dataSet" datafield="listItemValue" displayfield="listItemValue"
                                            defaultvalue="bind:Variables.GetIMQuestionMasterForId.dataSet.content[0].stateCd"></wm-form-field>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn125">
                                        <wm-form-field name="RequestBody_carrierListId" readonly="false" displayname="Carrier List" key="RequestBody.carrierListId" type="integer" show="true" widget="select" placeholder="Enter value" dataset="bind:Variables.GetImCarrierList.dataSet" datafield="carrierListId"
                                            displayfield="carrierName" orderby="carrierName:desc" defaultvalue="bind:Variables.GetIMQuestionMasterForId.dataSet.content[0].carrierListId"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow71">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn126">
                                        <!--<wm-form-field name="RequestBody_effDate" readonly="false" displayname="Effective Date" key="RequestBody.effDate" type="string" show="true" widget="date" placeholder="Enter value" defaultvalue="bind:Variables.GetIMQuestionMasterForId.dataSet.content[0].effDate"-->
                                        <!--    outputformat="MM/dd/yyyy"></wm-form-field>-->
                                        <wm-form-field name="RequestBody_effDate" readonly="false" displayname="Effective Date" key="RequestBody.effDate" type="string" show="true" widget="date" inputtype="date" placeholder="Enter value" defaultvalue="bind:Variables.GetIMQuestionMasterForId.dataSet.content[0].effDate"
                                            outputformat="yyyy-MM-ddTHH:mm:ss"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <!--<wm-gridrow name="gridrow72">-->
                                <!--    <wm-gridcolumn columnwidth="12" name="gridcolumn127">-->
                                <!--<wm-form-field name="RequestBody_effDate" readonly="false" displayname="Expiration Date" key="RequestBody.expDate" type="string" show="true" widget="text" inputtype="date" placeholder="Enter value" defaultvalue="bind:Variables.GetIMQuestionMasterForId.dataSet.content[0].expDate"-->
                                <!--    outputformat="yyyy-MM-ddTHH:mm:ss"></wm-form-field>-->
                                <!--        <wm-form-field name="RequestBody_effDate" readonly="false" displayname="Expiration Date" key="RequestBody.expDate" type="string" show="true" widget="date" inputtype="date" placeholder="Enter value" defaultvalue="bind:Variables.GetIMQuestionMasterForId.dataSet.content[0].expDate"-->
                                <!--            outputformat="yyyy-MM-ddTHH:mm:ss"></wm-form-field>-->
                                <!--<wm-form-field name="RequestBody_expDate" readonly="false" displayname="Expiration Date" key="RequestBody.expDate" type="string" show="true" widget="text" inputtype="date" placeholder="Enter value" defaultvalue="bind:Variables.GetIMQuestionMasterForId.dataSet.content[0].expDate"></wm-form-field>-->
                                <!--</wm-gridrow>-->
                                <wm-gridrow name="gridrow75">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn130">
                                        <wm-form-field name="typeOfQuestion" readonly="false" displayname="Type of Question" key="RequestBody.answerDataType" type="string" show="true" widget="select" placeholder="Enter value" dataset="bind:Variables.questionTypeData.dataSet" datafield="dataValue"
                                            defaultvalue="bind:Variables.GetIMQuestionMasterForId.dataSet.content[0].answerDataType" displayfield="displayValue"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow73">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn129">
                                        <wm-form-field name="RequestBody_questionText" readonly="false" displayname="Question Text" key="RequestBody.questionText" type="string" show="true" widget="textarea" inputtype="text" placeholder="Enter value" defaultvalue="bind:Variables.GetIMQuestionMasterForId.dataSet.content[0].questionText"
                                            height="50px"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow732">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn128">
                                        <wm-form-field name="RequestBody_nodeName" readonly="false" displayname="Question Node" key="RequestBody.nodeName" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value" defaultvalue="bind:Variables.GetIMQuestionMasterForId.dataSet.content[0].nodeName"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow53">
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn108">
                                        <wm-form-field displayname="Custom field" widget="text" show="false" type="custom" name="questionMasterIdText" defaultvalue="bind:Variables.GetIMQuestionMasterForId.dataSet.content[0].questionMasterId"></wm-form-field>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn109"></wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow53_2">
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn93_1">
                                        <wm-label padding="unset 0.5em" name="label17" caption="Answers" show="bind:Widgets.UpdateImQuestionMasterForm.formWidgets.typeOfQuestion.datavalue==&quot;DROPDOWN&quot;"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn94">
                                        <wm-label padding="unset 0.5em" name="label19" caption="Code" show="bind:Widgets.UpdateImQuestionMasterForm.formWidgets.typeOfQuestion.datavalue==&quot;DROPDOWN&quot;"></wm-label>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="answersData">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn129" class="popup-form">
                                        <wm-list listclass="list-group" itemclass="list-group-item" template="true" itemsperrow="xs-1 sm-1 md-1 lg-1" class="media-list app-panel-livelist pane panel" name="imanswersListForEdit" dataset="bind:Variables.getImQuestionAnswerLookup.dataSet" navigation="None">
                                            <wm-listtemplate layout="inline" name="Datalisttemplate">
                                                <wm-container name="GridContainer">
                                                    <wm-layoutgrid name="List_Grid" class="popup-list-grid">
                                                        <wm-form errormessage="" captionposition="top" title="" enctype="application/x-www-form-urlencoded" method="post" dataset="bind:Variables.updateImQuestionAnswerLookUp.dataSet" captionalign="left" name="updateAnswerLookUpForm{{$index}}" formdata="bind:Variables.getImQuestionAnswerLookup.dataSet[$i]"
                                                            margin="unset unset 0px unset">
                                                            <wm-gridrow name="list_row">
                                                                <wm-gridcolumn width="6" name="disp_col" columnwidth="6">
                                                                    <wm-text type="text" datavalue="bind:Variables.getImQuestionAnswerLookup.dataSet.answerKey" name="text" key="RequestBody.answerKey" required="true" margin="unset 5px unset unset"></wm-text>
                                                                </wm-gridcolumn>
                                                                <wm-gridcolumn width="6" name="val_col" horizontalalign="right" columnwidth="6">
                                                                    <wm-text type="text" datavalue="bind:Variables.getImQuestionAnswerLookup.dataSet.answerValue" name="code" required="true" key="RequestBody.answerValue" margin="unset unset unset 5px"></wm-text>
                                                                </wm-gridcolumn>
                                                            </wm-gridrow>
                                                            <wm-gridrow name="qmirow">
                                                                <wm-gridcolumn columnwidth="12" name="gridcolumn105" class="popup-form">
                                                                    <wm-text type="text" datavalue="bind:Variables.getImQuestionAnswerLookup.dataSet.questionAnswerId" name="qmi" required="true" key="RequestBody.ID" margin="unset unset unset 5px" show="false"></wm-text>
                                                                </wm-gridcolumn>
                                                            </wm-gridrow>
                                                        </wm-form>
                                                    </wm-layoutgrid>
                                                </wm-container>
                                            </wm-listtemplate>
                                        </wm-list>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="addMoreAnswersContainer">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn105" class="popup-form">
                                        <wm-container name="addMoreAnswersContainer" show="false">
                                            <wm-list listclass="list-group" itemclass="list-group-item" template="true" itemsperrow="xs-1 sm-1 md-1 lg-1" class="media-list app-panel-livelist pane panel" name="newAnswersList" dataset="bind:Variables.answersList.dataSet" navigation="None">
                                                <wm-listtemplate layout="inline" name="Datalisttemplate">
                                                    <wm-container name="GridContainer">
                                                        <wm-layoutgrid name="List_Grid">
                                                            <wm-gridrow name="list_row">
                                                                <wm-gridcolumn width="8" name="disp_col">
                                                                    <wm-text type="text" datavalue="bind:Variables.answersList.dataSet.text" name="text{{$index}}" required="true" margin="unset 5px unset unset "></wm-text>
                                                                </wm-gridcolumn>
                                                                <wm-gridcolumn width="4" name="val_col " horizontalalign="right">
                                                                    <wm-text type="text" datavalue="bind:Variables.answersList.dataSet.code" name="code{{$index}}" required="true" margin="unset unset unset 5px"></wm-text>
                                                                </wm-gridcolumn>
                                                            </wm-gridrow>
                                                        </wm-layoutgrid>
                                                    </wm-container>
                                                </wm-listtemplate>
                                            </wm-list>
                                        </wm-container>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow42">
                                    <wm-gridcolumn width="12" name="gridcolumn93">
                                        <wm-anchor margin="unset 0.5em" name="anchor2" caption="Add Answer" color="#f9ac50" on-click="anchor2Click($event, $scope)" show="bind:Widgets.UpdateImQuestionMasterForm.formWidgets.typeOfQuestion.datavalue==&quot;DROPDOWN&quot;" class="header-anchor-cls"></wm-anchor>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                            <wm-form-field name="RequestBody_recordLock" readonly="false" displayname="Record Lock" key="RequestBody.recordLock" type="string" show="false" widget="checkbox" placeholder="Enter value" viewmodewidget="label" defaultvalue="bind:Variables.GetIMQuestionMasterForId.dataSet.content[0].recordLock"
                                checkedvalue="YES" uncheckedvalue="NO"></wm-form-field>
                            <wm-buttongroup horizontalalign="center" class="form-action col-md-12 button-footer" name="buttongroup2" padding="15px 0px unset 0px">
                                <!--<wm-button caption="Reset" type="reset" class="btn-secondary" name="button12"></wm-button>-->
                                <wm-button caption="Delete" type="button" class="btn-warning" name="deleteButton" on-focus="button13Focus($event, $scope)" backgroundcolor="#fff" color="#F9AE4F" bordercolor="#F9AE4F" on-click="deleteButtonClick($event, $scope)"></wm-button>
                                <wm-button caption="Cancel" type="button" class="btn-warning" name="cancelButton" on-click="cancelButtonClick($event, $scope)" bordercolor="#F9AE4F" color="#F9AE4F" backgroundcolor="#fff"></wm-button>
                                <wm-button caption="Save" type="button" class="btn-warning" name="saveButton" on-click="saveButtonClick($event, $scope)"></wm-button>
                            </wm-buttongroup>
                        </wm-form>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
        </wm-dialog>
    </wm-view>
</wm-page>