<wm-page data-ng-controller="ClientSearchResultsPageController" pagetitle="Client Search Results" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-table name="getClientDetailsByNameTable1" title="" dataset="bind:Variables.getClientDetailsByName.dataSet" navigation="Basic">
                <wm-table-column binding="Applicant" caption="Applicant" edit-widget-type="text" type="string" mobiledisplay="false" searchable="false" show="true" readonly="false">
                    <wm-composite name="composite1">
                        <wm-container class="media-body" padding="unset unset unset 1.25em" name="ApplicantDetails" content="ApplicantDetails">
                            <wm-param name="name" value="bind:row.getProperty('firstName')" type="string"></wm-param>
                            <wm-param name="name" value="bind:row.getProperty('lastName')" type="string"></wm-param>
                            <wm-param name="email" value="bind:row.getProperty('email')" type="string"></wm-param>
                            <wm-param name="phoneNumber" value="bind:row.getProperty('phoneNumber')" type="string"></wm-param>
                            <wm-param name="name" value="bind:row.getProperty('zipCode5')" type="string"></wm-param>
                            <wm-param name="name" value="bind:row.getProperty('state')" type="string"></wm-param>
                            <wm-param name="name" value="bind:row.getProperty('city')" type="string"></wm-param>
                        </wm-container>
                    </wm-composite>
                </wm-table-column>
            </wm-table>
        </wm-page-content>
    </wm-content>
</wm-page>