<wm-partial data-ng-controller="RecentQuotesPageController" type="popover" name="partial1">
    <!--<wm-list listclass="list-group" itemclass="list-group-item" template="true" dataset="1,2,3" name="list1"><wm-listtemplate layout="blank" name="listtemplate1"><wm-layoutgrid name="layoutgrid1"><wm-gridrow name="gridrow1"><wm-gridcolumn columnwidth="12" name="gridcolumn2"><wm-label class="h4" width="100%" caption="Harpo Marx" name="label1"></wm-label></wm-gridcolumn></wm-gridrow></wm-layoutgrid></wm-listtemplate></wm-list>-->
    <wm-list listclass="list-group" itemclass="list-group-item" template="true" itemsperrow="xs-1 sm-1 md-1 lg-1" class="media-list recent-quotes-headercls" name="GetRecentQuotes" dataset="bind:Variables.GetRecentQuotesByUser.dataSet" navigation="None"
        nodatamessage="">
        <wm-listtemplate layout="inline" name="listtemplateRecentQuotes">
            <wm-container class="media-right" name="container3" height="10" width="100">
                <wm-layoutgrid name="layoutgrid13">
                    <wm-gridrow name="gridrow112_4">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn125_1">
                            <wm-anchor name="anchor1" caption="bind:Variables.GetRecentQuotesByUser.dataSet.fullName" on-click="getClientDetailsByNameTable1Click($event, $scope, {{$index}});" color="#fff"></wm-anchor>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-container>
        </wm-listtemplate>
    </wm-list>
</wm-partial>
