<wm-partial data-ng-controller="ansContainer2PageController" name="partial2">
    <wm-composite name="composite2" show="bind:pageParams.answerDataType == &quot;TEXT&quot;">
        <wm-container class="col-md-9" name="container2">
            <!--<wm-form-field name="RequestBody_questionAnswerId" key="RequestBody.answerText" type="string" widget="text" inputtype="text" placeholder="Enter" disabled="bind:pageParams.questionType == &quot;Readonly&quot;" required="bind:pageParams.questionType == &quot;Mandatory&quot;"
                displayname="bind:pageParams.queText" readonly="bind:pageParams.questionType == &quot;Readonly&quot;" show="bind:pageParams.answerDataType==&quot;TEXT&quot;" validationmessage="Please enter value."></wm-form-field>-->
            <wm-label name="Label" class="p text-muted" caption="bind:Variables.getAnswersByQuestion.dataSet.content[0].questionAnswerId"></wm-label>
            <wm-text name="RequestBody_questionAnswerId" key="RequestBody.answerText" type="text" widget="text" inputtype="text" placeholder="Enter" disabled="bind:pageParams.questionType == &quot;Readonly&quot;" required="bind:pageParams.questionType == &quot;Mandatory&quot;"
                readonly="bind:pageParams.questionType == &quot;Readonly&quot;" show="bind:pageParams.answerDataType == &quot;TEXT&quot;" validationmessage="Please enter value." datavalue="bind:Variables.getAnswersByQuestion.dataSet.content[0].answerValue"></wm-text>
        </wm-container>
    </wm-composite>
</wm-partial>