<wm-partial data-ng-controller="headerPageController" name="header" type="header">
    <wm-layoutgrid name="headerlayout">
        <wm-gridrow name="headerrow">
            <wm-gridcolumn name="headerleft" verticalalign="left" columnwidth="3" horizontalalign="left">
                <wm-picture name="picture1" picturesource="resources/images/imagelists/UR_logo_5.png" padding="18px unset unset 36px" class="logo-img"></wm-picture>
            </wm-gridcolumn>
            <wm-gridcolumn name="headerright" horizontalalign="left" verticalalign="middle" columnwidth="4" margin="unset unset unset unset" class="header-searchbox">
                <wm-composite name="composite1" margin="unset unset unset unset">
                    <wm-container class="col-sm-8" name="container1">
                        <wm-text name="nameKey" placeholder="Find applicant" backgroundcolor="white" class="header-search-box" datavalue="bind:Variables.getImApplicant.dataSet.firstName" updateon="default" color="#333" on-keyup="nameKeyKeyup($event, $scope)"></wm-text>
                    </wm-container>
                    <wm-button class="btn-default header-searchbutton" caption="SEARCH" type="button" name="button1" on-click="button1Click($event, $scope);Actions.goToPage_ClientsPage.invoke()"></wm-button>
                </wm-composite>
            </wm-gridcolumn>
            <wm-gridcolumn columnwidth="5" name="gridcolumn3" horizontalalign="right">
                <!--<wm-picture name="picture3" picturesource="resources/images/imagelists/recent_quotes.png" width="38px" margin="13px unset unset unset" on-mouseenter="picture3Mouseenter($event, $scope)" on-mouseleave="picture3Mouseleave($event, $scope)"></wm-picture><wm-label name="label5" caption="Recent Quotes" class="header-recentquotes-label" on-mouseenter="label5Mouseenter($event, $scope)" on-mouseleave="label5Mouseleave($event, $scope)"></wm-label>-->
                <wm-popover popoverwidth="100" popoverheight="auto" margin="15px 30px unset unset" name="popover1" show="true" caption="Recent Quotes" popoverarrow="true" title="" contentsource="partial" interaction="default" iconurl="resources/images/imagelists/recent_quotes.png"
                    class="recentquotes-img-cls header-anchor-cls header-fontsize" content="RecentQuotes" padding="unset unset 5px unset"></wm-popover>
                <wm-button class="btn-default shortnamecls" caption="bind:Variables.loggedInUser.dataSet.name.toUpperCase().substring(0, 2)" type="button" name="button2"></wm-button>
                <!--<wm-label name="label8" caption="Seth Miller" class="namelabel"></wm-label>-->
                <wm-popover popoverwidth="50" popoverheight="auto" margin="unset unset unset 10px" name="popover2" show="true" caption="bind:Variables.loggedInUser.dataSet.name" popoverarrow="true" title="" contentsource="inline" interaction="default"
                    class="header-anchor-cls header-fontsize" padding="unset unset 18px unset">
                    <wm-layoutgrid name="layoutgrid1" class="layoutgrid-outerborder">
                        <wm-gridrow padding="unset unset unset unset" name="gridrow21">
                            <wm-gridcolumn name="gridcolumn1">
                                <wm-layoutgrid name="layoutgrid2_1" class="tax-and-history-table-header">
                                    <wm-gridrow name="gridrow1" class="header-row">
                                        <wm-gridcolumn columnwidth="12" name="gridcolumn56_1" class="col-xs-5">
                                            <wm-anchor caption="Carrier Questions" on-click="Actions.goToPage_CarrierQuestions.invoke();" name="anchor6"></wm-anchor>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow2" class="header-row">
                                        <wm-gridcolumn columnwidth="12" name="gridcolumn56_2" class="col-xs-5">
                                            <wm-anchor caption="Credentials" on-click="Actions.goToPage_CredentialManagement.invoke();" name="anchor7"></wm-anchor>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow3" class="header-row">
                                        <wm-gridcolumn columnwidth="12" name="gridcolumn56_3" class="col-xs-5">
                                            <wm-anchor caption="General Defaults" on-click="Actions.goToPage_GeneralDefaults.invoke();" name="anchor8"></wm-anchor>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow3" class="header-row">
                                        <wm-gridcolumn columnwidth="12" name="gridcolumn56_3" class="col-xs-5">
                                            <wm-anchor caption="Carrier Management" on-click="Actions.goToPage_CarrierManagement.invoke();" name="anchor8"></wm-anchor>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-layoutgrid>
                            </wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                </wm-popover>
                <wm-button class="btn-default new-applicant-btn" caption="New Applicant" type="button" name="button4" color="white" backgroundcolor="#508AE3" backgroundposition="left" fontfamily="inherit" fontsize="10" margin="unset 40px" on-click="button4Click($event, $scope)"
                    bordercolor="#508AE3"></wm-button>
                <!--<wm-anchor caption="Quote" on-click="getClientDetailsByNameTable1Click($event, $scope, $rowData);Actions.goToPage_AutoQuote.invoke();" name="anchor9"></wm-anchor><wm-anchor caption="CQ" on-click="Actions.goToPage_CarrierQuestions.invoke();" name="anchor10"></wm-anchor>--></wm-gridcolumn>
        </wm-gridrow>
    </wm-layoutgrid>
</wm-partial>
