<wm-page data-ng-controller="AutoQuotePageController" pagetitle="Auto Quote" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="AutoQuoteNav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1"></wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>