<wm-page data-ng-controller="QuoteSubmissionPageController" pagetitle="Quote Submission" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1" class="quote-submissioncls">
            <wm-view class="dialog-view" name="view1">
                <wm-dialog dialogtype="design-dialog" modal="true" title="Information" iconclass="" name="dialog1" width="60%" class="quote-modal-dailog height-fix" showheader="false" height="100%">
                    <wm-layoutgrid name="layoutgrid3">
                        <wm-gridrow name="gridrow5">
                            <wm-gridcolumn columnwidth="7" name="gridcolumn8">
                                <wm-label padding="unset 0.5em" name="label5" caption="bind:&quot;Quote Submitted &quot; + quoteTime" fontweight="bold" color="#424154" fontsize="14"></wm-label>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="5" name="gridcolumn9" horizontalalign="left" padding="unset unset unset 15px">
                                <wm-button class="view-submit-btncls" caption="VIEW / EDIT" type="button" margin="unset 0.3em unset 0.1em" name="button1" on-click="button1Click($event, $scope, item, currentItemWidgets)"></wm-button>
                                <wm-button class="view-submit-btncls" caption="RESUBMIT" type="button" margin="unset 0.2em" name="button2" on-click="button2Click($event, $scope, item, currentItemWidgets)"></wm-button>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow7" padding="15px unset unset unset">
                            <wm-gridcolumn columnwidth="7" name="gridcolumn14">
                                <wm-list listclass="list-group" itemclass="list-group-item" template="true" itemsperrow="xs-1 sm-1 md-1 lg-1" class="media-list quote-listcls" dataset="bind:Variables.PusherCarrier.dataSet" navigation="None" orderby="totalPremium:desc"
                                    enablereorder="true" name="list2_1">
                                    <wm-listtemplate layout="inline" name="listtemplate2_1">
                                        <wm-container class="media-right" name="container2"></wm-container>
                                        <wm-layoutgrid name="layoutgrid4">
                                            <wm-gridrow name="gridrow9">
                                                <wm-gridcolumn columnwidth="6" name="gridcolumn18">
                                                    <wm-picture width="60%" height="45px" shape="circle" picturesource="bind:Variables.PusherCarrier.dataSet.image" class="media-object" name="picture2_1"></wm-picture>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="6" class="quotelist-details-columncls" name="gridcolumn19">
                                                    <wm-label class="media-heading pull-left" caption="bind:Variables.PusherCarrier.dataSet.carrierName" fontunit="em" show="false" name="label6_1"></wm-label>
                                                    <wm-layoutgrid name="layoutgrid5">
                                                        <wm-gridrow name="gridrow9_1">
                                                            <wm-gridcolumn columnwidth="12" name="gridcolumn18_1">
                                                                <wm-label caption="bind:Variables.PusherCarrier.dataSet.totalPremium" class="pull-left" margin="0px unset unset 0px" color="#383838" on-click="label7Click($event, $scope, item, currentItemWidgets)"
                                                                    name="label10_1" fontweight="bold"></wm-label>
                                                            </wm-gridcolumn>
                                                        </wm-gridrow>
                                                        <wm-gridrow name="gridrow10">
                                                            <wm-gridcolumn columnwidth="6" name="gridcolumn20">
                                                                <wm-label caption="bind:Variables.PusherCarrier.dataSet[$i].paidInFull" name="label7_1" fontweight="bold" color="#383838"></wm-label>
                                                            </wm-gridcolumn>
                                                            <wm-gridcolumn columnwidth="6" name="gridcolumn21">
                                                                <wm-label padding="unset 0.5em" caption="Paid in Full" name="label8" color="#989EB3"></wm-label>
                                                            </wm-gridcolumn>
                                                        </wm-gridrow>
                                                    </wm-layoutgrid>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                        </wm-layoutgrid>
                                    </wm-listtemplate>
                                </wm-list>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="5" name="gridcolumn15" padding="0px unset unset 10px">
                                <wm-layoutgrid name="layoutgrid4_1">
                                    <wm-gridrow name="gridrow6">
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn10">
                                            <wm-list listclass="list-group" itemclass="list-group-item" template="true" itemsperrow="xs-1 sm-1 md-1 lg-1" class="media-list drivers-list" name="GetDriverByPolicyIdList1" dataset="bind:Variables.GetDriverByPolicyId.dataSet"
                                                navigation="None" title="Driver/s">
                                                <wm-listtemplate layout="inline" name="listtemplate2">
                                                    <wm-container class="media-body" name="container3">
                                                        <wm-label name="Name" class="p media-heading" caption="bind:Variables.GetDriverByPolicyId.dataSet.firstName + Variables.GetDriverByPolicyId.dataSet.lastName" fontunit="em" color="#989EB3"></wm-label>
                                                    </wm-container>
                                                </wm-listtemplate>
                                            </wm-list>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn11">
                                            <wm-list listclass="list-group" itemclass="list-group-item" template="true" itemsperrow="xs-1 sm-1 md-1 lg-1" class="media-list  coverages-quote-labelscls" name="GetImCoverageByPolicyIdList1" dataset="bind:Variables.GetImCoverageByPolicyId.dataSet"
                                                navigation="None" title="Coverages:">
                                                <wm-listtemplate layout="inline" name="listtemplate3">
                                                    <wm-container class="media-body" name="container4">
                                                        <wm-layoutgrid name="layoutgrid5_1">
                                                            <wm-gridrow name="gridrow8">
                                                                <wm-gridcolumn columnwidth="3" name="gridcolumn13" class="line-height-fix-label">
                                                                    <wm-label name="Name" class="p media-heading shortform-cls" caption="BI:" fontsize="1.143" fontunit="em" fontweight="bold" color="#383838"></wm-label>
                                                                </wm-gridcolumn>
                                                                <wm-gridcolumn columnwidth="9" name="gridcolumn14_1">
                                                                    <wm-label padding="unset 0.5em" name="label12" caption="bind:Variables.GetImCoverageByPolicyId.dataSet.bi" color="#989EB3"></wm-label>
                                                                </wm-gridcolumn>
                                                            </wm-gridrow>
                                                            <wm-gridrow name="gridrow9_2">
                                                                <wm-gridcolumn columnwidth="3" name="gridcolumn15_1" class="line-height-fix-label">
                                                                    <wm-label class="p media-heading shortform-cls" caption="PD:" fontsize="1.143" fontunit="em" name="label11" fontweight="bold" color="#383838"></wm-label>
                                                                </wm-gridcolumn>
                                                                <wm-gridcolumn columnwidth="9" name="gridcolumn16">
                                                                    <wm-label padding="unset 0.5em" name="label13" caption="bind:Variables.GetImCoverageByPolicyId.dataSet.pd" color="#989EB3"></wm-label>
                                                                </wm-gridcolumn>
                                                            </wm-gridrow>
                                                            <wm-gridrow name="gridrow10_1">
                                                                <wm-gridcolumn columnwidth="3" name="gridcolumn17" class="line-height-fix-label">
                                                                    <wm-label name="JobTitle" caption="UM:" class="p media-heading shortform-cls" fontweight="bold" color="#383838" fontunit="em" fontsize="1.143"></wm-label>
                                                                </wm-gridcolumn>
                                                                <wm-gridcolumn columnwidth="9" name="gridcolumn18_2">
                                                                    <wm-label padding="unset 0.5em" name="label14_1" caption="bind:Variables.GetImCoverageByPolicyId.dataSet.um" color="#989EB3"></wm-label>
                                                                </wm-gridcolumn>
                                                            </wm-gridrow>
                                                        </wm-layoutgrid>
                                                    </wm-container>
                                                </wm-listtemplate>
                                            </wm-list>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow7_1">
                                        <wm-gridcolumn columnwidth="12" name="gridcolumn12">
                                            <wm-list listclass="list-group" itemclass="list-group-item" template="true" itemsperrow="xs-1 sm-1 md-1 lg-1" class="media-list quote-window-vehicle-listcls" name="GetImVehicleCoverageList1" dataset="bind:Variables.GetImVehicleCoverage.dataSet"
                                                navigation="None">
                                                <wm-listtemplate layout="inline" name="listtemplate4">
                                                    <wm-container class="media-body inline-block" name="container5" width="100%">
                                                        <wm-layoutgrid name="layoutgrid6">
                                                            <wm-gridrow name="gridrow13">
                                                                <wm-gridcolumn columnwidth="12" name="gridcolumn23">
                                                                    <wm-label padding="unset 0.5em" name="VehicleDisplay{{$index}}" class="coverage-heading"></wm-label>
                                                                </wm-gridcolumn>
                                                            </wm-gridrow>
                                                            <wm-gridrow name="gridrow11">
                                                                <wm-gridcolumn columnwidth="12" name="gridcolumn19_1">
                                                                    <wm-label name="Name" class="p media-heading" caption="Comp" fontsize="1.143" fontunit="em" color="#989EB3" margin="unset unset 0px unset"></wm-label>
                                                                </wm-gridcolumn>
                                                            </wm-gridrow>
                                                            <wm-gridrow name="gridrow14">
                                                                <wm-gridcolumn columnwidth="12" name="gridcolumn25">
                                                                    <wm-label padding="unset 0.5em unset unset" name="label17_1" caption="bind:Variables.GetImVehicleCoverage.dataSet.comprehensive" color="#424154" fontweight="bold"></wm-label>
                                                                </wm-gridcolumn>
                                                            </wm-gridrow>
                                                            <wm-gridrow name="gridrow15">
                                                                <wm-gridcolumn columnwidth="12" name="gridcolumn27">
                                                                    <wm-label class="p media-heading" caption="Collision" fontsize="1.143" fontunit="em" name="label14" color="#989EB3" margin="unset unset 0px unset"></wm-label>
                                                                </wm-gridcolumn>
                                                            </wm-gridrow>
                                                            <wm-gridrow name="gridrow12">
                                                                <wm-gridcolumn columnwidth="12" name="gridcolumn21_1">
                                                                    <wm-label padding="unset 0.5em unset unset" name="label18" caption="bind:Variables.GetImVehicleCoverage.dataSet.collDeduct" fontweight="bold" color="#424154"></wm-label>
                                                                </wm-gridcolumn>
                                                            </wm-gridrow>
                                                        </wm-layoutgrid>
                                                    </wm-container>
                                                </wm-listtemplate>
                                            </wm-list>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-layoutgrid>
                            </wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                </wm-dialog>
            </wm-view>
            <wm-container name="container6" backgroundcolor="#fff" class="quote-grid-container">
                <wm-label padding="unset 0.5em" name="label17" class="panelheading heading h3" width="auto" caption="QUOTE SUBMISSIONS" fontweight="bold"></wm-label>
                <wm-table name="GetQuotesTable1" title="" dataset="bind:Variables.GetQuotesInvoke.dataSet" navigation="Basic" on-rowclick="GetQuotesTable1Rowclick($event, $scope, $rowData)" formposition="top" gridclass="custom-quote-grid custom-hover-grid"
                    on-datarender="GetQuotesTable1Datarender($scope, $data)" on-show="GetQuotesTable1Show()" class="quote-submission-gridcls" navigationalign="right">
                    <wm-table-column binding="name" caption="Applicant" width="100px" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="product" caption="Product" width="100px" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="submittedTime" caption="Submitted Time" width="100px" edit-widget-type="text" type="string" show="true" readonly="false">
                        <wm-label caption="{{row.getProperty('dateCust')}}" class="" data-ng-class=""></wm-label><br>
                        <wm-label caption="{{row.getProperty('submitted')}}" class="" data-ng-class=""></wm-label>
                    </wm-table-column>
                    <wm-table-column binding="bi" caption="Bodily Injury" width="100px" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="rowOperations" caption="" width="120px" edit-widget-type="text" type="custom" readonly="true" sortable="false" searchable="false" show="true"></wm-table-column>
                    <wm-table-row-action key="customRow" display-name="VIEW / EDIT" show="true" class="grid-quote-btn" iconclass="" title="VIEW / EDIT" action="customRowAction($event)" disabled="false"></wm-table-row-action>
                    <wm-table-row-action key="customRow1" display-name="RESUBMIT" show="true" class="grid-quote-btn" iconclass="" title="RESUBMIT" action="customRow1Action($event)" disabled="bind:row.submittedTime? false: true"></wm-table-row-action>
                </wm-table>
            </wm-container>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>