<wm-page data-ng-controller="GeneralDefaultsPageController" pagetitle="General Defaults" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-content name="content1" backgroundcolor="#fff">
        <wm-page-content columnwidth="12" name="page_content1" padding="80px unset unset unset" class="admin-page-layout" backgroundcolor="#fff">
            <wm-layoutgrid name="layoutgrid1">
                <wm-gridrow name="gridrow1">
                    <wm-gridcolumn columnwidth="4" name="gridcolumn1"></wm-gridcolumn>
                    <wm-gridcolumn columnwidth="4" name="gridcolumn2" horizontalalign="center">
                        <wm-label padding="unset 0.5em" name="label1" caption="GENERAL DEFAULTS" class="h2" color="#3f3e4e"></wm-label>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="4" name="gridcolumn5"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow2" padding="unset unset 5px unset">
                    <wm-gridcolumn columnwidth="6" name="gridcolumn3">
                        <wm-label padding="unset 0.5em unset unset" name="label2" caption="FILTER CREDENTIALS" class="h4" fontfamily="inherit" color="#3F3E4E"></wm-label>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="6" name="gridcolumn4"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow3">
                    <wm-gridcolumn columnwidth="4" name="gridcolumn6">
                        <wm-composite name="compositeState" width="95%">
                            <wm-label class="col-md-3 control-label" name="label3" caption="State" padding="7px unset unset unset"></wm-label>
                            <wm-container class="col-md-9" name="container1">
                                <wm-select name="selectState" dataset="bind:Variables.svGetStateList.dataSet" datafield="listItemValue" displayfield="listItemValue" placeholder="All" backgroundcolor="#f5f5f5"></wm-select>
                            </wm-container>
                        </wm-composite>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="4" name="gridcolumn12">
                        <wm-composite name="compositeTab" width="95%">
                            <wm-label class="col-md-3 control-label" name="label4" caption="Tab" padding="7px unset unset 10px"></wm-label>
                            <wm-container class="col-md-9" name="container2">
                                <wm-select name="selectTab" datafield="dataValue" placeholder="All" dataset="bind:Variables.stvTabsList.dataSet" displayfield="dataValue" orderby="dataValue:desc" backgroundcolor="#f5f5f5"></wm-select>
                            </wm-container>
                        </wm-composite>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="4" name="gridcolumn7" horizontalalign="right"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow4">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn8">
                        <wm-layoutgrid name="layoutgrid2">
                            <wm-gridrow name="gridrow6" class="admin-list-header" padding="unset 15px">
                                <wm-gridcolumn columnwidth="2" name="gridcolumn13">
                                    <wm-label padding="10px 10px 10px 5px" name="label7" caption="State" class="defaultList-headerText"></wm-label>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="2" name="gridcolumn17">
                                    <wm-label padding="10px 10px 10px 5px" name="label8" caption="Tab" class="defaultList-headerText"></wm-label>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="4" name="gridcolumn18">
                                    <wm-label padding="10px" name="label9" caption="Field Name" class="defaultList-headerText"></wm-label>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="2" name="gridcolumn19">
                                    <wm-label padding="10px 10px 10px unset" name="label10" caption="Default" class="defaultList-headerText" margin="unset unset unset -5px"></wm-label>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="2" name="gridcolumn20">
                                    <wm-label padding="10px" name="label10" caption="Lock Default" class="defaultList-headerText"></wm-label>
                                </wm-gridcolumn>
                            </wm-gridrow>
                        </wm-layoutgrid>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow5">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn10">
                        <wm-list listclass="list-group" itemclass="list-group-item" template="true" itemsperrow="xs-1 sm-1 md-1 lg-1" class="media-list admin-list-table" name="ListFetchGeneralDefaults" dataset="bind:Variables.svFetchGeneralDefaultsList.dataSet"
                            navigation="Basic" navigationalign="right">
                            <wm-listtemplate layout="inline" name="listtemplate1">
                                <wm-layoutgrid name="layoutgrid2">
                                    <wm-gridrow name="gridrow6" padding="unset 8px">
                                        <wm-gridcolumn columnwidth="2" name="gridcolumn13">
                                            <wm-label name="label7" caption="bind:Variables.svFetchGeneralDefaultsList.dataSet.stateCd"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="2" name="gridcolumn17">
                                            <wm-label padding="unset 0em" name="label8" caption="bind:Variables.svFetchGeneralDefaultsList.dataSet.tabname"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="4" name="gridcolumn18">
                                            <wm-label padding="unset 0.5em" name="label9" caption="bind:Variables.svFetchGeneralDefaultsList.dataSet.listDesc" on-click="label9Click($event, $scope, item, currentItemWidgets)"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="2" name="gridcolumn19">
                                            <wm-select name="selectDefault" datafield="All Fields" displayfield="listItemValue" on-change="selectDefaultChange($event, $scope, item, currentItemWidgets, newVal, oldVal)" backgroundcolor="#f5f5f5"></wm-select>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="2" name="gridcolumn20">
                                            <wm-checkbox caption="Lock" class="col-md-push-1 col-md-9" name="checkboxLock" checkedvalue="Yes" uncheckedvalue="No" datavalue="bind:Variables.svFetchGeneralDefaultsList.dataSet.defaultLock" on-change="checkboxLockChange($event, $scope, item, currentItemWidgets, newVal, oldVal)"
                                                margin="-10px unset unset 3px"></wm-checkbox>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow7">
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn15"></wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn16"></wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-layoutgrid>
                            </wm-listtemplate>
                        </wm-list>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>
