<wm-page data-ng-controller="TestPageController" pagetitle="Test">
    <wm-header content="header"></wm-header>
    <wm-content>
        <wm-page-content columnwidth="12">
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer"></wm-footer>
</wm-page>