<wm-partial data-ng-controller="ansContainerPageController" name="partial1">
    <wm-composite name="composite1" show="bind:pageParams.answerDataType == &quot;DROPDOWN&quot;">
        <wm-container class="col-md-9" name="container1">
            <wm-select name="answers" dataset="bind:$root.carrierQAnswersDropdownMap[pageParams.qmi]" datafield="questionAnswerId" displayfield="answerKey" key="RequestBody.questionAnswerId" show="bind:pageParams.answerDataType == &quot;DROPDOWN&quot;" datavalue="bind:pageParams.questionAnswerId!=null?pageParams.questionAnswerId:$root.carrierQAnswersDropdownMap[pageParams.qmi][0].questionAnswerId"
                disabled="bind:pageParams.questionType == &quot;Readonly&quot;" required="bind:pageParams.questionType == &quot;Mandatory&quot; ? true : false" readonly="bind:pageParams.questionType == &quot;Readonly&quot; ? true : false" validationmessage="Please select a value."
                on-blur="answersBlur($event, $scope)"></wm-select>
            <wm-label class="error-message" name="ErrorMessageSelect" caption="Please select value." color="#FF0000" show="false"></wm-label>
        </wm-container>
    </wm-composite>
    <wm-composite name="composite2" show="bind:pageParams.answerDataType == &quot;TEXT&quot;">
        <wm-container class="col-md-9" name="container2">
            <!--<wm-form-field name="RequestBody_questionAnswerId" key="RequestBody.answerText" type="string" widget="text" inputtype="text" placeholder="Enter" disabled="bind:pageParams.questionType == &quot;Readonly&quot;" required="bind:pageParams.questionType == &quot;Mandatory&quot;"
                displayname="bind:pageParams.queText" readonly="bind:pageParams.questionType == &quot;Readonly&quot;" show="bind:pageParams.answerDataType==&quot;TEXT&quot;" validationmessage="Please enter value."></wm-form-field>-->
            <wm-text name="RequestBody_questionAnswerId" key="RequestBody.answerText" type="string" widget="text" inputtype="text" placeholder="Enter" disabled="bind:pageParams.questionType == &quot;Readonly&quot;" required="bind:pageParams.questionType == &quot;Mandatory&quot;"
                readonly="bind:pageParams.questionType == &quot;Readonly&quot;" show="bind:pageParams.answerDataType == &quot;TEXT&quot;" validationmessage="Please enter value." datavalue="bind:pageParams.defaultValue" on-blur="RequestBody_questionAnswerIdBlur($event, $scope)"></wm-text>
            <wm-label class="error-message" name="ErrorMessageText" caption="Please enter value." color="#FF0000" show="false"></wm-label>
            <!--<wm-label name="Label" class="p text-muted" caption="bind:Variables.getAnswersByQuestion123.dataSet.content[0].questionAnswerId"></wm-label>-->
            <!--<wm-label name="Label" class="p text-muted" caption="bind:pageParams.questionType"></wm-label>-->
            <!--<wm-label name="Label" class="p text-muted" caption="bind:pageParams.answerDataType"></wm-label><wm-label name="Label" class="p text-muted" caption="bind:pageParams.qmi"></wm-label>--></wm-container>
    </wm-composite>
</wm-partial>