<wm-partial data-ng-controller="ApplicantDetailsPageController" name="partial1">
    <wm-layoutgrid name="layoutgrid1">
        <wm-gridrow name="gridrow1">
            <wm-gridcolumn columnwidth="6" name="gridcolumn1" class="font-bold">
                <!--<wm-label name="firstname" caption="bind:pageParams.firstName + &quot; &quot; + pageParams.lastName"></wm-label>-->
                <!--<wm-anchor name="clientName" caption="bind:pageParams.firstName + &quot; &quot; + pageParams.lastName"></wm-anchor>-->
                <wm-anchor name="firsName" on-click="firsNameClick($event, $scope)" caption="bind:pageParams.firstName + &quot; &quot; + pageParams.lastName"></wm-anchor>
            </wm-gridcolumn>
            <!--<wm-gridcolumn columnwidth="4" name="gridcolumn1">-->
            <!--</wm-gridcolumn>-->
            <wm-gridcolumn columnwidth="6" name="gridcolumn2"></wm-gridcolumn>
        </wm-gridrow>
        <wm-gridrow name="gridrow2">
            <wm-gridcolumn columnwidth="12" name="gridcolumn1" class="font-bold">
                <wm-label name="address2" caption="bind:pageParams.address2 +&quot; &quot;+ pageParams.city + &quot;, &quot; + pageParams.state+ &quot; &quot; +pageParams.zipCode5"></wm-label>
            </wm-gridcolumn>
        </wm-gridrow>
        <wm-gridrow name="gridrow3">
            <wm-gridcolumn columnwidth="12" name="gridcolumn4" class="font-bold">
                <wm-anchor name="email" caption="bind:pageParams.email" hyperlink="bind:&quot;mailto:&quot;+pageParams.email"></wm-anchor>
            </wm-gridcolumn>
        </wm-gridrow>
        <wm-gridrow name="gridrow4">
            <wm-gridcolumn columnwidth="12" name="gridcolumn11" class="font-bold">
                <wm-anchor name="phone" caption="bind:pageParams.phone"></wm-anchor>
            </wm-gridcolumn>
        </wm-gridrow>
    </wm-layoutgrid>
    <wm-composite name="composite1">
        <wm-container class="col-md-9" name="container1"></wm-container>
    </wm-composite>
</wm-partial>