<wm-partial data-ng-controller="paymentPartialPageController" name="partial1">
    <wm-table name="GetPaymentsTable1" title="" dataset="bind:Variables.GetPayments.dataSet" navigation="None" spacing="normal" width="100%" height="100%" class="payment-partial-cls">
        <wm-table-column binding="plan" caption="Plan" show="true" readonly="undefined"></wm-table-column>
        <wm-table-column binding="amount" caption="Amount" show="true" readonly="undefined"></wm-table-column>
        <wm-table-column binding="desc" caption="Desc" show="true" readonly="undefined"></wm-table-column>
        <wm-table-column binding="downPay" caption="Down Pay" show="true" readonly="undefined"></wm-table-column>
        <wm-table-column binding="installPay" caption="Install Pay" show="true" readonly="undefined"></wm-table-column>
    </wm-table>
</wm-partial>