<wm-page data-ng-controller="CredentialManagementPageController" pagetitle="Credential Management" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1" padding="70px unset unset unset" backgroundcolor="#fff">
            <wm-layoutgrid name="layoutgrid1" class="admin-page-layout">
                <wm-gridrow name="gridrow1">
                    <wm-gridcolumn columnwidth="4" name="gridcolumn1"></wm-gridcolumn>
                    <wm-gridcolumn columnwidth="4" name="gridcolumn2" horizontalalign="center">
                        <wm-label padding="unset 0.5em" name="label1" caption="CREDENTIAL MANAGEMENT" class="h2" color="#3F3E4E" fontfamily="inherit"></wm-label>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="4" name="gridcolumn5"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow2" padding="unset unset 5px unset">
                    <wm-gridcolumn columnwidth="6" name="gridcolumn3">
                        <wm-label name="label2" caption="FILTER CREDENTIALS" class="h4" color="#3F3E4E"></wm-label>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="6" name="gridcolumn4"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow3">
                    <wm-gridcolumn columnwidth="4" name="gridcolumn6">
                        <wm-composite name="compositeState" width="97%">
                            <wm-label class="col-md-3 control-label" name="label3" caption="State" color="#3F3E4E" fontweight="bold" padding="6px unset unset unset"></wm-label>
                            <wm-container class="col-md-9" name="container1">
                                <wm-select name="selectState" dataset="bind:Variables.svGetStateList.dataSet" datafield="listItemValue" displayfield="listItemValue" placeholder="All" backgroundcolor="#F5F5F5"></wm-select>
                            </wm-container>
                        </wm-composite>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="4" name="gridcolumn12">
                        <wm-composite name="compositeCarrier" width="97%">
                            <wm-label class="col-md-3 control-label" name="label4" caption="Carriers" color="#3F3E4E" padding="6px unset unset unset" fontweight="bold"></wm-label>
                            <wm-container class="col-md-9" name="container2">
                                <wm-select name="selectCarrier" dataset="bind:Variables.svFetchCarrierList.dataSet" datafield="carrierListId" displayfield="carrierName" placeholder="All" backgroundcolor="#F5F5F5"></wm-select>
                            </wm-container>
                        </wm-composite>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="4" name="gridcolumn7" horizontalalign="right"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow4">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn8" padding="20px unset unset unset">
                        <wm-table title="" dataset="bind:Variables.svFetchCredentials.dataSet" navigation="Basic" name="tableCredentials" on-click="Widgets.dialogEditCredentials.open()" gridclass="table-striped table-hover admin-table" navigationalign="right">
                            <wm-table-column binding="stateCd" caption="State" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                            <wm-table-column binding="carrier" caption="Carrier" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                            <wm-table-column binding="username" caption="User Name" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                            <wm-table-column binding="password" caption="Password" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                            <wm-table-column binding="agencycode" caption="Agency/Producer" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                        </wm-table>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow5">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn10"></wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
    <wm-view class="dialog-view" name="viewEditCredentials">
        <wm-dialog dialogtype="design-dialog" modal="true" title="Edit Username and Password" iconclass="" name="dialogEditCredentials" showheader="false" closable="true" on-opened="Variables.svEditCredentialsData.invoke()" class="edit-credential-modal">
            <wm-dialogactions name="dialogactions1" class="form-action button-footer btn-group app-button-group button-fluid">
                <wm-button caption="Cancel" on-click="closeDialog()" name="buttonCancel" bordercolor="#F9AE4F" backgroundcolor="#fff" color="#F9AE4F"></wm-button>
                <wm-button class="btn-warning" caption="SUBMIT" type="button" margin="unset 0.5em" name="buttonSubmit" on-click="buttonSubmitClick($event, $scope)"></wm-button>
            </wm-dialogactions>
            <wm-form errormessage="" captionposition="top" title="" enctype="application/x-www-form-urlencoded" method="post" captionalign="left" name="FormEditCredentials" on-submit="Widgets.dialogConfirmEdit.open()" class="client-formcls edit-cred-modal">
                <wm-layoutgrid columns="1" name="layoutgrid3">
                    <wm-gridrow name="gridrow16">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn22_1" horizontalalign="center">
                            <wm-label padding="unset 0.5em" name="label10_1" class="h5" fontweight="bold" caption="Edit Username and Password" fontfamily="inherit" fontsize="18"></wm-label>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow8">
                        <wm-gridcolumn name="gridcolumn15">
                            <wm-layoutgrid name="layoutgrid3_1">
                                <wm-gridrow name="gridrow7">
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn12_1">
                                        <wm-form-field displayname="BulK" widget="switch" show="true" type="custom" name="form_field_Bulk" dataset="Yes,No" defaultvalue="No" datafield="All Fields" on-change="form_field_BulkChange($event, $scope, newVal, oldVal)"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow8_1">
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn14">
                                        <wm-form-field displayname="State" widget="select" show="true" type="custom" name="form_field_State" dataset="bind:Variables.svGetStateList.dataSet" datafield="listItemValue" displayfield="listItemValue" defaultvalue="bind:Widgets.tableCredentials.selecteditem.stateCd"
                                            disabled="true" placeholder="All" fontfamily="inherit"></wm-form-field>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn15_1">
                                        <wm-form-field displayname="Carrier" widget="select" show="true" type="custom" name="form_field_Carrier" dataset="bind:Variables.svFetchCarrierList.dataSet" datafield="carrierListId" displayfield="carrierName" defaultvalue="bind:Widgets.tableCredentials.selecteditem.carrierListId"
                                            disabled="bind:Widgets.FormEditCredentials.formWidgets.form_field_Bulk.datavalue==&quot;No&quot;"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow9">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn16">
                                        <wm-form-field displayname="Username" widget="text" show="true" type="custom" name="form_field_Username" defaultvalue="bind:Variables.svEditCredentialsData.dataSet.content[0].username" required="true" updateon="default"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow10">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn18">
                                        <wm-form-field displayname="Password" widget="text" show="true" type="custom" name="form_field_Password" defaultvalue="bind:Variables.svEditCredentialsData.dataSet.content[0].password" required="true" updateon="default"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow11">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn20">
                                        <wm-form-field displayname="Agency/Producer Code" widget="text" show="true" type="custom" name="form_field_AgencyCode" defaultvalue="bind:Variables.svEditCredentialsData.dataSet.content[0].agencycode" required="true"
                                            updateon="default"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-form>
        </wm-dialog>
    </wm-view>
    <wm-view class="dialog-view" name="viewConfirmEdit">
        <wm-dialog dialogtype="design-dialog" modal="true" title="Please Note" iconclass="wi wi-notifications" name="dialogConfirmEdit" class="edit-confirmation-modal">
            <wm-layoutgrid name="layoutgrid4">
                <wm-gridrow name="gridrow12">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn18_1" padding="unset unset 15px unset">
                        <wm-label padding="unset 0.5em" caption="You are updating Prudential Insurance for" name="label5"></wm-label>
                        <wm-label padding="unset 0.5em" name="label10" textdecoration="underline" color="#cc0000" fontweight="bold" caption="bind:Widgets.FormEditCredentials.formWidgets.form_field_State.datavalue+&quot; Only.&quot;" show="bind:Widgets.FormEditCredentials.formWidgets.form_field_Bulk.datavalue==&quot;No&quot;"></wm-label>
                        <wm-label padding="unset 0.5em" name="label11" fontweight="bold" textdecoration="underline" color="#cc0000" caption="all states" show="bind:Widgets.FormEditCredentials.formWidgets.form_field_Bulk.datavalue==&quot;Yes&quot;"></wm-label>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow13">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn20_1">
                        <wm-label padding="unset 7em" caption="Bulk Edit must be set to “Yes” if you’d like to   make this change for all states." name="label7" show="bind:Widgets.FormEditCredentials.formWidgets.form_field_Bulk.datavalue==&quot;No&quot;"></wm-label>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow14">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn22">
                        <wm-label padding="unset 7em" caption="Bulk Edit must be set to “No” if you’d like to   make this change for one state." name="label9" show="bind:Widgets.FormEditCredentials.formWidgets.form_field_Bulk.datavalue==&quot;Yes&quot;"></wm-label>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow15">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn23"></wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
            <wm-dialogactions name="dialogactions2" class="text-center">
                <wm-button caption="CANCEL" on-click="closeDialog()" name="button4" color="#F9AE4F" bordercolor="#F9AE4F"></wm-button>
                <wm-button caption="SUBMIT" type="button" margin="unset 0.5em" name="buttonDone" on-click="Variables.svUpdateCredentials.invoke()" backgroundcolor="#F9AE4F" color="#fff"></wm-button>
            </wm-dialogactions>
        </wm-dialog>
    </wm-view>
</wm-page>
