<wm-page data-ng-controller="CarrierManagementPageController" pagetitle="Carrier Management" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1" padding="80px unset unset unset" backgroundcolor="#fff">
            <wm-layoutgrid name="layoutgrid1" class="admin-page-layout">
                <wm-gridrow name="gridrow1">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn2" horizontalalign="center">
                        <wm-label padding="unset 0.5em" name="label1" caption="CARRIER MANAGEMENT" class="h2" color="#3f3e4e" fontfamily="inherit"></wm-label>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow2">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn3" horizontalalign="center">
                        <wm-label padding="unset 0.5em" name="label2" caption="Auto Carriers" class="h4" color="#3f3e4e" fontfamily="inherit"></wm-label>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow3">
                    <wm-gridcolumn columnwidth="4" name="gridcolumn7"></wm-gridcolumn>
                    <wm-gridcolumn columnwidth="4" name="gridcolumn5" horizontalalign="left">
                        <wm-search name="searchCarriers" placeholder="Search Carriers" dataset="bind:Variables.svFetchCarrierList.dataSet" searchkey="carrierName" displaylabel="carrierName" datafield="carrierListId" class="dark-input-theme custom-input-theme carrier-input-theme"></wm-search>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="4" name="gridcolumn8"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow4">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn6" padding="10px unset unset unset">
                        <wm-table name="TableFetchStatesForCarrier" title="" dataset="bind:Variables.svFetchStatesForCarrier.dataSet" navigation="Basic" on-click="TableFetchStatesForCarrierClick($event, $scope, $rowData);Widgets.dialogEditCarrier.open()" gridclass="table-striped table-hover admin-table"
                            navigationalign="right">
                            <wm-table-column binding="carrierName" caption="Carrier" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                            <wm-table-column binding="carrierStates" caption="States" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                        </wm-table>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
    <wm-view class="dialog-view" name="viewEditCarrier">
        <wm-dialog dialogtype="design-dialog" modal="true" title="CARRIER STATE ASSIGNMENT" iconclass="" name="dialogEditCarrier" width="60%" on-close="dialogEditCarrierClose($event, $scope)" class="edit-confirmation-modal">
            <wm-layoutgrid name="layoutgrid2">
                <wm-gridrow name="gridrow5">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn9" horizontalalign="center">
                        <wm-label padding="unset 0.5em" caption="Select or unselect all available states by clicking on the state abbreviation" name="label3"></wm-label>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow6">
                    <wm-gridcolumn columnwidth="4" name="gridcolumn8_1"></wm-gridcolumn>
                    <wm-gridcolumn columnwidth="4" name="gridcolumn11">
                        <wm-composite name="compositeCarrier">
                            <wm-layoutgrid name="layoutgrid3">
                                <wm-gridrow name="gridrow8">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn12" class="text-left">
                                        <wm-label class="col-md-3 control-label" name="label4" caption="Carrier"></wm-label>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow9">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn14">
                                        <wm-select name="selectCarrier" dataset="bind:Variables.svFetchCarrierList.dataSet" datafield="carrierListId" displayfield="carrierName" datavalue="bind:Widgets.TableFetchStatesForCarrier.selecteditem.carrierListId" on-change="selectCarrierChange($event, $scope, newVal, oldVal)"
                                            backgroundcolor="#f5f5f5"></wm-select>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                        </wm-composite>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="4" name="gridcolumn10"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow7">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn9_1">
                        <wm-checkboxset height="auto" name="checkboxsetStates" dataset="bind:Variables.svGetSatesList.dataSet" datafield="listItemValue" displayfield="listItemValue" layout="inline" selectedvalues="bind:Variables.stvEditStates.dataSet" class="admin-checkbox"></wm-checkboxset>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
            <wm-dialogactions name="dialogactions1">
                <wm-button class="btn-primary btn-generic-width" caption="Save" on-click="buttonSaveClick($event, $scope)" name="buttonSave" backgroundcolor="#F9AE4F" bordercolor="#F9AE4F"></wm-button>
                <wm-button class="btn-default" caption="Cancel" type="button" margin="unset 0.5em" name="buttonClose" on-click="Widgets.dialogEditCarrier.close()" bordercolor="#F9AE4F" color="#F9AE4F"></wm-button>
            </wm-dialogactions>
        </wm-dialog>
    </wm-view>
</wm-page>
