/*START - default Theme*/
 
  //Plymouth Theme Vars
  @color-global-header: #3F3E4E; // Same is used for primary color
  @color-header-text: #7C84CC;
  @color-navbar-background: #565469;
  @color-button: #F9AE4F;
  @color-app-background: #EFEFF4;
  @color-white: #FFF;
  @color-black: #000;
  @color-dropdown-background: #F5F5F5;
  @color-secondary-text: #989EB3;
  @color-link: #508AE3;
  @color-error: #CC0000;
  @value-small: 0.3125em;
  @value-medium: 0.625em;
  @value-large: 1.25em;
  @font-color: #383838;
  @color-white-nav-font: #B6BFD9;
  @default-button-color: #F5F5F5;
  @warning-btn-color: #F9AE4F;
  @btn-width: 100px;
  
.wm-app {

  @import url("../../components/bootstrap/less/bootstrap.less");
  @import url("variables.less");

  font-size: @font-size-base;
  color: @text-color;
  font-family: @font-family-base;
  background-color: @body-bg;
  
  //Header
  @wm-header-border-color: #ffeb3b;
  @wm-header-text-color: #fff;
  @wm-header-bg-color: lighten(@brand-primary, 5%);
  @wm-header-height: auto;

  //left panel
  @wm-left-panel-bg: #fff;
  @wm-left-panel-list-border: 1px #e6e5e5 solid;
  @wm-left-panel-border-color: #CFDBE2;
  @wm-left-panel-link-color: #4f5256;
  @wm-left-panel-link-hover-bg: #f7f7f7;
  @wm-left-panel-link-active-bg: #F4F4F4;
  @wm-left-panel-link-hover-text-color: inherit;
  @wm-left-panel-link-hover-border-color: transparent;
  @wm-left-panel-dropdown-menu-bg: transparent;

  //right panel
  @wm-right-panel-border-color: #CFDBE2;
  @wm-right-panel-bg: #fff;
  @wm-right-panel-btn-color: #515253;
  @wm-right-panel-list-border: 1px #e6e5e5 solid;

  //Footer
  @wm-footer-border-color: #ccc;
  @wm-footer-text-color: #515253;
  @wm-footer-bg-color: #F5F7FA;
  @wm-footer-height: auto;

  //Table
  @table-header-bg: #fff;
  @pagination-active-hover-bg: darken(@brand-primary, 15%);
  @pagination-basic-bg: #ddd;
  @wm-grid-selection-bg: #CFD8DC;

  //Tabset
  @nav-tabs-color-hover : #000;
  @nav-tabs-color : #B6BFD9;
  @nav-tabs-bg: #fff;

  //input group hover
  @input-group-addon-hover-bg: rgba(0,0,0,.1);

  //Buttons
  @btn-group-active-btn-bg: #fff;

  //modal dialogs
  @modal-header-bg: @navbar-default-bg;
  @modal-header-color: @navbar-default-link-active-color;

  @form-label-color: #383838;
  @wm-calendar-header-color: #adadad;
  @wm-calendar-text-color: #adadad;
  @wm-datepicker-text-color: #000;
  @wm-datepicker-header-bg: #128ff2;
  @wm-datepicker-btn-hover-bg: #f0f0f0;
  @wm-checked-color: #fff;

  /*Box Shadow effect*/
  .box-shadow (@x:0px, @y:2px, @blur:5px, @color:#DBDBDB) {
    box-shadow: @arguments;
    -webkit-box-shadow: @arguments;
    -moz-box-shadow: @arguments;
    -ms-box-shadow: @arguments;
    -o-box-shadow: @arguments;
  }
  .btn-shadow {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
  }

  /*Applies inset shadow effect*/
  .inset-shadow(@x:0px, @y:2px, @blur:5px, @spread:0 , @color:#DBDBDB) {
    box-shadow: inset @arguments;
    -webkit-box-shadow: inset @arguments;
    -moz-box-shadow: inset @arguments;
    -ms-box-shadow: inset @arguments;
    -o-box-shadow: inset @arguments;
  }

  .img-rounded {
    border-radius: @thumbnail-border-radius;
  }

  /******Label: overiding the label class as bootstrap is making all the labels bold***/
  label {
    font-weight: normal;
  }
  .label-primary, .label-success, .label-info, .label-warning, .label-danger {
    color: #fff;
  }
  .text-danger {
    color: darken(@brand-danger, 20%);
  }
  .text-success {
    color: darken(@brand-success, 20%);
  }
  .text-info {
    color: darken(@brand-info, 20%);
  }
  .text-primary {
    color: darken(@brand-primary, 20%);
  }
  .text-warning {
    color: darken(@brand-warning, 20%);
  }
  .h1,.h2,.h3,.h4,.h5,.h6 {
    width: 100%;
  }
  .btn-secondary {
    background-color: #f3f3f3;
    color: @text-color;
  }
  .input-group-btn {
    .btn[disabled] {
      &:hover, &:focus {
        background-color: transparent;
        outline-color: transparent;
      }
    }
  }

  * {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
  }

  .badge {
    right: 4px;
    top: 5px;
  }

  .close {
    border: 0;
    background-color: transparent;
  }

  /***Tabs Widget: Styling for the tabs widget comes here********/
  //Tab Content
  .tab-content {
    .tab-body {
      border-color: transparent;
      padding: @padding-base-horizontal;
    }
  }
  //navigation
  .nav-tabs {
    border-bottom-color: @nav-tabs-border-color;
    background-color: @nav-tabs-bg;
    > li {
      > a, .app-menu a {
        color: @nav-tabs-color;
        text-transform: uppercase;
        background-color: @nav-tabs-active-link-hover-bg;
        border-bottom-color: transparent;
        border-radius: 0;
        box-shadow: none;
        margin-right: 0;
        border-color: transparent;
        &:after {
          content: "";
          height: 2px;
          position: absolute;
          width: 100%;
          left: 0;
          bottom: 0;
          -webkit-transition: all;
          -o-transition: all;
          transition: all;
          -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
          -webkit-transform: scale(0);
          -ms-transform: scale(0);
          -o-transform: scale(0);
          transform: scale(0);
        }
        &:hover, &:focus {
          outline: none;
          color: @nav-tabs-color;
          background-color: @nav-tabs-active-link-hover-bg;
          border-color: transparent;
          border-bottom-color: transparent;
        }
      }
      &.active {
        > a, .app-menu a {
          border-color: transparent;
          color: @nav-tabs-color-hover;
          &:after {
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            transform: scale(1);
            background: @brand-primary;
          }
          &:hover, &:focus {
            outline: none;
            border-color: transparent;
            color: @nav-tabs-color-hover;
          }
        }
      }
    }
  }

  .app-tabs, .tab-body {
    &:focus {
      outline: none;
    }
  }

  /***App Message********/
  .app-message .close {
    top: initial;
  }
  /***Tabs Widget: Styling for the tabs widget comes here********/
  .list-group-item-separator {
    margin-bottom: 2px;
    border-radius: 2px;
    .form-group {
      padding: 0 @padding-base-horizontal;
    }
  }

  /***Button Style: Defining the sixe of the button for bootstrap classes********/
  .btn {
    text-transform: uppercase;
    font-size: 12px;
    .btn-shadow();
    padding: 6px 15px;
    &.btn-lg {
      font-size: 1.4em;
    }
    &.btn-sm {
      font-size: 10px;
      padding: @padding-small-vertical @padding-small-horizontal;
    }
    &.btn-xs {
      font-size: 8px;
      padding: @padding-xs-vertical @padding-xs-horizontal;
    }
    .caret {
      margin-left: 0.7em;
    }
    &.active, &:active {
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }

  .btn-group {
    .btn-shadow();
    .btn {
      box-shadow: none;
      border-color: transparent;
    }
  }

  .btn-default {
    &:hover, &:focus &:active {
      color: @btn-default-color;
      background-color: darken(@btn-default-bg, 10%);
      border-color: darken(@btn-default-bg, 10%);
    }
  }

  .btn.btn-transparent {
    &:hover {
      background-color: #f0f0f0 !important;
    }
  }

  .btn-flat {
    text-transform: uppercase;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    color: inherit;
    &.btn-primary {
      color: @brand-primary;
      &:hover, &:focus {
        background-color: @btn-primary-bg;
        color: @btn-primary-color;
      }
    }
    &.btn-info {
      color: @brand-info;
      &:hover, &:focus {
        background-color: @btn-info-bg;
        color: @btn-info-color;
      }
    }
    &.btn-warning {
      color: @brand-warning;
      &:hover, &:focus {
        background-color: @warning-btn-color;
        color: @warning-btn-color;
      }
    }
    &.btn-danger {
      color: @brand-danger;
      &:hover, &:focus {
        background-color: @btn-danger-bg;
        color: @btn-danger-color;
      }
    }
  }

  /***Modal Dialog Style: There is no property in bootstrap variable so setting it here********/
  .modal-header {
    background-color: @modal-header-bg;
    border-bottom-color: @modal-header-border-color;
    color: @modal-header-color;
    .modal-title {
      color: @modal-header-color;
    }
  }

  /*****login modal form***/
  .app-login-dialog {
    .app-dialog-body {
      .app-form {
        border: 0;
        margin-bottom: 0;
      }
    }
  }

  //Breadcrumb
  .breadcrumb {
    li {
      a {
        text-transform: uppercase;
      }
    }
  }

  //Progress Bar
  .progress {
    box-shadow: none;
    border-radius: 0;
    height: .55em;
    .progress-bar {
      line-height: .92em;
    }
  }

  //Table
  .table {
    > thead {
      > tr {
        th {
          font-weight: normal;
          background-color: @table-header-bg;
        }
      }
    }
  }

  /*****************************************************************************************************************************************/
  /*********************************************************Layout**************************************************************************/
  /*****************************************************************************************************************************************/
  .app-content-column {
    background-color: @body-bg;
    padding: 1em 1.5em;
  }

  //Header
  .app-header, .app-mobile-header {
    background-color: @wm-header-bg-color;
    color: @wm-header-text-color;
    box-shadow: 0px 1px 0px rgba(0,0,0,0.2);
    border-color: transparent;
    height: @wm-header-height;
    a {
      color: @wm-header-text-color;
    }

    .app-search {
      background-color: @wm-header-bg-color;
      .form-control {
        background-image: linear-gradient(@wm-header-border-color, @wm-header-border-color), linear-gradient(@input-border, @input-border);
        color: @wm-header-text-color;
        &::-webkit-input-placeholder {
          color: @wm-header-text-color;
        }
        &:-moz-placeholder {
          color: @wm-header-text-color;
        }
        &:-ms-placeholder {
          color: @wm-header-text-color;
        }
      }
    }
    .input-group-addon {
      color: @wm-header-text-color;
      font-size: 1.1em;
    }

    .app-mobile-header {
      background-color: @navbar-default-bg;
      color: @navbar-default-color;
      a {
        color: @navbar-default-color;
      }
    }
  }

  //Top Nav Bar
  .app-navbar {
    border-radius: 0;
    color: @navbar-default-color;
    padding: 0 1.52em;
    .navbar-nav {
      li {
        a {
          font-size: 1em;
          padding: 1.2em;
          font-weight: normal;
          text-decoration: none;
          text-transform: uppercase;
          box-shadow: inset 0px -3px 0 0px transparent;
          color: @navbar-default-color;
          &:hover, &:focus, &.active, &.app-popover-open {
            color: @navbar-default-link-active-color;
            background-color: @navbar-default-hover-bg;
            -webkit-transition: color .3s ease;
            -o-transition: color .3s ease;
            transition: color .3s ease;
          }
          &.active {
            color: @navbar-default-link-active-color;
            box-shadow: inset 0px -3px 0 0px @wm-header-border-color;
          }
        }

        > .dropdown .dropdown-menu {
          margin: 0;
          background-color: @dropdown-bg;
          a {
            color: @text-color;
            padding: 1em;
            font-size: 1em;
            text-transform: initial;
            &:hover {
              background-color: @navbar-default-hover-bg;
            }
          }
        }
      }

      .app-nav-item {
        > .dropdown {
          a.dropdown-toggle {
            padding: 1.2em;
          }
          .dropdown-menu {
            li > a {
              &:hover {
                background-color: rgba(0,0,0,.03);
              }
            }
          }
        }
      }
    }
  }

  //Popover
  .popover {
    min-width: 16.667em;
    .popover-content {
      padding: 0;
    }
  }

  //Left & Right Panels
  .app-left-panel, .app-right-panel {
    box-shadow: 2px 2px 4px rgba(0,0,0,.15);
    -webkit-box-shadow: 2px 2px 4px rgba(0,0,0,.15);
    -moz-box-shadow: 2px 2px 4px rgba(0,0,0,.15);
    .nav {
      li {
        //for overriding the pills default color
        &.active {
          > a {
            color: inherit;
            background-color: @wm-left-panel-link-active-bg;
            &:hover, &:focus {
              color: inherit;
              background-color: @wm-left-panel-link-active-bg;
            }
          }
        }
        margin-top: 0;
        //border-bottom: @wm-left-panel-list-border;

        a, .btn, .dropdown a, .dropdown a.dropdown-toggle, .app-popover a {
          //letter-spacing: .025em;
          padding: 1em;
          position: relative;
          border-radius: 0;
          line-height: 1.7;
          color: @wm-left-panel-link-color;
          text-shadow: none;
          font-family: 'Robotomedium', Arial, sans-serif;
          &:hover {
            color: @wm-left-panel-link-hover-text-color;
            text-decoration: none;
            background-color: @wm-left-panel-link-hover-bg;
          }
          &.active {
            background-color: @wm-left-panel-link-active-bg;
            &:hover, &:focus {
              background-color: @wm-left-panel-link-hover-bg;
              color: inherit;
            }
          }
          .app-icon {
            margin-right: 0.3em;
            font-size: 1.143em;
          }
          .badge {
            top: 1.2em !important;
            padding: 4px 6px;
          }
        }

        > .dropdown.open {
          > .dropdown-menu {
            position: relative;
            margin: 0 0 1.333em;
            border: 0;
            border-bottom: @wm-left-panel-list-border;
            box-shadow: none;
            background-color: @wm-left-panel-dropdown-menu-bg;
            li {
              a {
                padding: 0.92em .92em .92em 2.5em;
                font-size: 1em;
              }
            }
          }
        }
      }
      &.open {
        a {
          &:hover, &:focus {
            background-color: @wm-left-panel-link-hover-bg;
          }
        }
      }
    }
    .app-nav {
      .app-nav-item {
        > .dropdown {
          > a {
            padding: 1.333em;
          }
        }
      }
    }
  }

  /****nav widget****/
  .app-nav {
    &.nav-pills, &.nav-justified {
      .app-nav-item {
        .app-menu {
          .dropdown-toggle {
            padding: @padding-base-horizontal;
          }
          &:hover {
            color: @nav-pills-active-link-hover-bg;
            background-color: @nav-link-hover-bg;
          }
        }
        &.active {
          a, .app-menu {
            &:active, &.hover, &:active:hover {
              color: @navbar-default-link-active-color;
              background-color: @nav-pills-active-link-hover-bg;
            }
            &.open {
              .dropdown-toggle {
                color: @nav-pills-active-link-hover-color;
                background-color: @nav-pills-active-link-hover-bg;
              }
            }
          }
        }
      }
    }
  }
  .nav-justified {
    .app-nav-item {
      .app-menu {
        text-align: center;
      }
    }
  }

  //Left Panel
  .app-left-panel {
    background-color: @wm-left-panel-bg;
    border-right: 1px solid @wm-left-panel-border-color;
  }

  //Right Panel
  .app-right-panel {
    background-color: @wm-right-panel-bg;
    border-left: 1px solid @wm-right-panel-border-color;
  }

  //Footer
  .app-footer {
    padding: 1em 1.5em;
    background-color: @wm-footer-bg-color;
    color: @wm-footer-text-color;
    border-top: 1px solid @wm-footer-border-color;
    height: @wm-footer-height;
  }

  .btn-group {
    .btn.active {
      box-shadow: none;
      background-color: @btn-group-active-btn-bg;
      color: @text-color;
    }
  }
  /******************************************************************************************************************************************/
  /***************************************************Widgets styling************************************************************************/
  /******************************************************************************************************************************************/
  .form-group {
    margin-bottom: 0.833em;
    &.live-field.active {
      .control-label {
        color: @form-label-color;
      }
    }
    .text-danger, .control-label.text-danger {
      color: @brand-danger;
    }
    .ng-touched.ng-invalid {
      background-image: none;
      border: 2px solid @brand-danger;
      outline: none;
    }
  }
  //for text, select controls
  .form-control, .form-group + .form-control {
    color: inherit;
    border: 0;
    -webkit-background-size: 0 2px, 100% 1px;
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center -webkit-calc(100% - 1px);
    background-position: center bottom, center calc(100% - 1px);
    background-color: rgba(0, 0, 0, 0);
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background 0s ease-out;
    -o-transition: background 0s ease-out;
    transition: background 0s ease-out;
    background-image: linear-gradient(@brand-primary, @brand-primary), linear-gradient(@input-border, @input-border);
    &:hover, &:focus {
      outline: none;
      -webkit-background-size: 100% 2px, 100% 1px;
      background-size: 100% 2px, 100% 1px;
      -webkit-transition-duration: 0.4s;
      -o-transition-duration: 0.4s;
      transition-duration: 0.4s;
      box-shadow: none;
    }
  }
  .form-control[disabled] {
    background-color: transparent;
    background-image: none;
    border-bottom: 1px dotted rgba(0,0,0,0.1);
  }
  .input-group-btn {
    .btn {
      background-color: transparent;
      border: 0;
      box-shadow: none;
      color: inherit;
      i {
        font-size: 18pt;
      }
    }
  }
  //**** form elements*****/

  .radio, .checkbox {
    input {
      opacity: 0;
      z-index: -1;
      margin: 3px 0 !important;
    }
    label {
      padding-left: @padding-base-horizontal;
      &.disabled {
        cursor: not-allowed;
        span.caption {
          cursor: not-allowed;
        }
      }
    }
    .caption {
      position: relative;
      min-height: 1em;
      height: 17px;
      display: inline-block;
      cursor: pointer;
      padding: 0 @value-medium;
      margin: 5px 0;
      &:before, &:after {
        position: absolute;
        content: "";
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        background: transparent;
      }
    }
  }

  //radio buttons
  .radio {
    .caption {
      &:before, &:after {
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
      }
      &:before {
        top: 0;
        left: 0;
        width: 17px;
        height: 17px;
        background-color: @brand-primary;
        border: 1px @pre-border-color solid;
        .inset-shadow(0, 0, 0, 13px, @body-bg);
      }
      &:after {
        top: 45%;
        left: 10px;
        width: 17px;
        height: 17px;
        -moz-transform: translate(-50%, -50%) scale(0);
        -ms-transform: translate(-50%, -50%) scale(0);
        -webkit-transform: translate(-50%, -50%) scale(0);
        transform: translate(-50%, -50%) scale(0);
      }
    }
    input:checked + .caption:before {
      -moz-box-shadow: inset 0 0 0 3px @body-bg;
      -webkit-box-shadow: inset 0 0 0 3px @body-bg;
      box-shadow: inset 0 0 0 3px @body-bg;
    }
    input:checked + .caption:after {
      -moz-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
      -webkit-transform: translate(-50%, -50%) scale(1);
      transform: translate(-50%, -50%) scale(1);
    }
  }


  //checkbox
  .checkbox {
    .caption {
      &:before {
        top: 0;
        left: 0;
        width: 17px;
        height: 17px;
        background-color: @brand-primary;
        border: 1px @pre-border-color solid;
        .inset-shadow(0, 0, 0, 13px, @body-bg);
      }
      &:after {
        top: 45%;
        left: 10px;
        width: 40px;
        height: 40px;
        -moz-transform: translate(-50%, -50%) scale(0);
        -ms-transform: translate(-50%, -50%) scale(0);
        -webkit-transform: translate(-50%, -50%) scale(0);
        transform: translate(-50%, -50%) scale(0);
      }
    }
    input:checked + .caption:before {
      -moz-box-shadow: inset 0 0 0 13px #aac540;
      -webkit-box-shadow: inset 0 0 0 13px #aac540;
      box-shadow: inset 0 0 0 13px #aac540;
      background-color: @body-bg;
      border-color: #aac540;
      border-top-style: none;
      border-right-style: none;
      padding: 0 3px;
      color: @wm-checked-color;
      content: "\2713";
      text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    }
    input:checked + .caption:after {
      -moz-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
      -webkit-transform: translate(-50%, -50%) scale(1);
      transform: translate(-50%, -50%) scale(1);
    }
  }

  //form widgets
  .app-form, .app-liveform {
    //for labels in the form
    .control-label, .app-label {
      padding: 0.5em 0.5em 0;
      font-family: Robotomedium;
      margin-bottom: 1em;
      font-weight: normal;
      color: @form-label-color;
    }
    //action buttons in the form
    .form-action {
      background-color: inherit;
      padding: @padding-base-horizontal;
      .btn {
        margin: 0 0.333em;
        border-radius: @border-radius-base;
      }
    }

    .panel-body {
      padding: 0;
      .app-grid-layout {
        padding: @padding-base-horizontal;
      }
    }
    //Styling File Upload in IE
    input[type="file"] {
      padding: 0;
      //Browse textbox
      &::-ms-value {
        border: 1px solid @input-border;
        background-color: @input-bg;
      }

      //Browse button
      &::-ms-browse {
        border: 1px solid @input-border;
      }
    }

    input {
      &:focus.ng-valid {
        border: 0;
      }
    }

    .form-control-static {
      font-family: @font-family-sans-serif;
      color: @input-color-placeholder;
    }
  }

  //filter
  .app-livefilter {
    .control-label, .app-label {
      padding: 1em 1em 0;
      margin-bottom: 1em;
      font-weight: bold;
    }
    .form-action {
      padding: @padding-base-horizontal;
      border-top: 1px solid @panel-inner-border;
      .btn {
        margin: 0 0.333em;
        border-radius: @border-radius-base;
      }
    }
    .panel-body {
      padding: @padding-base-horizontal;
    }
  }
  /***Switch widget****/
  .app-switch {
    .btn {
      border-color: rgba(0, 0, 0, 0.05);
    }
  }

  /***search widget****/
  .app-search {
    .input-group-addon {
      padding: 0.667em;
      &:hover {
        background: @input-group-addon-hover-bg;
      }
    }
  }

  /****Input addon***/
  .input-group-addon {
    border:0;
    border-bottom: 1px solid transparent;
  }

  /******grid styles*******/
  .app-grid {
    .form-search {
      padding: 1.5em;
    }
    .table {
      thead {
        tr {
          padding: @padding-base-horizontal 1.72em;
        }
        th {
          .header-data {
            text-transform: uppercase;
          }
          .sort-buttons-container {
            .sort-button {
              //display: none;
              .up {
                border-width: 0 0.333em 0.333em;
                bottom: -2px;
              }
              .down {
                border-width: 0.333em 0.333em 0;
                top: 0.250em;
              }
            }
          }
        }
      }
      tbody {
        tr {
          &.active, &:hover, &.active:hover {
            td {
              background-color: @table-bg-active;
              border-color: rgba(0,0,0,0.05);
            }
          }
        }
      }
      th, td, tr {
        &.info, &.info:hover {
          background-color: @wm-grid-selection-bg;
        }
      }
    }
    //When table is condensed
    .input-group.input-group-sm {
      .input-group-addon, .input-group-btn {
        padding: 0 4px;
        .btn {
          .app-icon {
            font-size: 11px;
          }
        }
      }
    }

    .input-group-addon {
      border-bottom: 0;
      padding: @padding-base-vertical 0;
    }

    .panel-footer {
      .app-datagrid-actions {
        vertical-align: middle;
        .btn {
          margin: 0 0.333em;
        }
      }
    }

    .app-datagrid {
      .app-datagrid-cell {
        &.cell-editing:not(.checkbox-widget) {
          padding: @padding-small-vertical @padding-small-horizontal;
        }
      }
    }
    .cell-editing {
      input {
        border-bottom: 1px solid darken(@table-border-color, 10%);
        background-color: @table-bg;
        background-image: none;
      }
    }
  }

  //***** data grid basic pagination****///

  .app-datanavigator {
    .pagination.basic {
      &.pagination-sm {
        li a {
          width: 20pt;
          height: 20pt;
        }
        li.pagination-page a{
          padding: 6px 0;
        }
      }
      .pagination-prev, .pagination-next, .pagination-first, .pagination-last{
        a {
          padding: 3px 7px;
        }
      }
      li {
        font-size: 1.08em;
        a {
          color: @pagination-color;
          background-color: @pagination-basic-bg;
          border: 0;
          border-radius: 50%;
          padding: 8px 0;
          margin: 0 2px;
          width: 27pt;
          height: 27pt;
        }
        &.active {
          a, a:hover, a:focus {
            color: @pagination-active-color;
            background-color: @pagination-active-bg;
            border: 0;
          }
          &:hover {
            a, a:hover, a:focus {
              background-color: @pagination-active-hover-bg;
              color: @pagination-active-color;
            }
          }
        }
        &:hover, &:focus {
          a, a:hover, a:focus {
            color: inherit;
            background-color: @pagination-hover-bg;
            border: 0;
          }
        }
        &.disabled {
          a {
            background-color: @pagination-basic-bg;
            color: @pagination-disabled-color;
          }
        }
      }
    }
    .pagination {
      li {
        &.pagecount {
          a {
            background-color: @pagination-active-bg;
            border-color: @pagination-active-bg;
            input {
              color: @pagination-active-color;
              text-align: center;
              background-image: none;
            }
          }
        }
      }
    }
    .pager {
      li {
        a {
          margin: 0 .5em 0 0;
          padding: @padding-base-vertical @padding-base-horizontal;
        }
      }
    }
  }

  /*** pagination***/
  .pagination {
    li {
      > a, > span {
        color: @brand-primary;
      }
    }
  }

  //carousel styling: removing the left and right background image
  .carousel-control {
    &.left, &.right {
      background-image: none;
    }
  }

  /****accordion classes****/
  .app-accordion {
    .app-accordion-panel.panel {
      box-shadow: none;
      .panel-heading {
        color: @text-color;
        background-color: transparent;
        .panel-icon {
          margin-top: 0;
        }
        .panel-title {
          color: @text-color;
          .heading {
            line-height: inherit;
            font-size: 1em;
          }
        }
        .panel-actions {
          right: 1em;
          top: 1.2em;
          outline: none;

        }
      }
      .panel-collapse {
        border: 0;
        &:before {
          content: "";
          height: 2px;
          position: absolute;
          width: 100%;
          left: 0;
          top: 0;
          -webkit-transition: all;
          -o-transition: all;
          transition: all;
          -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
          -webkit-transform: scale(0);
          -ms-transform: scale(0);
          -o-transform: scale(0);
          transform: scale(0);
        }

        &.in {
          outline: none;
          box-shadow: none;
          &:before {
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            transform: scale(1);
            background: @brand-primary;
          }
        }
      }
      &.panel-success .panel-collapse::before {
        background-color: @brand-success;
      }
      &.panel-info .panel-collapse::before {
        background-color: @brand-info;
      }
      &.panel-warning .panel-collapse::before {
        background-color: @brand-warning;
      }
      &.panel-danger .panel-collapse::before {
        background-color: @brand-danger;
      }
    }
  }

  .panel-group {
    .panel-heading + .panel-collapse {
      > .panel-body {
        border-top: 0;
      }
    }
  }

  /**** panel *****/
  .panel, .card {
    border-radius: @border-radius-base;
    border-color: transparent;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    margin-bottom: 1em;
    .panel-heading {
      .panel-title {
        .heading {
          font-size: 1.125em;
        }
        .description {
          font-size: .75em;
          color: inherit;
          font-style: normal;
          margin-top: 5px;
          opacity: .7;
        }
      }
      .panel-actions {
        .panel-action {
          top: -0.2em;
          a {
            &:focus, &:hover {
              text-decoration: none;
            }
          }
          .app-anchor{
            font-size: 1.15em;
            padding: 0 6px;
            width: 30px;
            height: 30px;
            &:hover, &:focus {
              background-color: rgba(158,158,158,.2);
              border-radius: 50%;
              transition: color .5s ease, background .5s ease;
              -webkit-transition: color .5s ease, background .5s ease;
              -moz-transition: color .5s ease, background .5s ease;
              -ms-transition: color .5s ease, background .5s ease;
              -o-transition: color .5s ease, background .5s ease;
            }
          }
        }
      }
    }
  }
  .app-livelist, .app-grid {
    &.panel {
      border: 0;
      background-color: @table-header-bg;
      box-shadow: none;
    }
  }
  .app-list, .app-livelist {
    .app-list-item {
      &.active {
        > .app-panel, > .app-card {
          border-color: @brand-primary;
        }
        //Fix for select for an active list item
        select {
          option {
            color: @text-color;
          }
        }
      }
    }
  }
  .app-card {
    .app-card-header {
      background-color: transparent;
      .card-heading {
        font-size: 1.155em;
      }

      .app-card-avatar {
        height: 18pt;
        width: 18pt;
        .app-icon {
          font-size: 18pt;
          padding: 5px 0;
        }
      }
      .app-card-header-text {
        padding-left: 1em;
      }
      .app-card-avatar, .app-card-header-text{
        padding-top: 0;
      }
    }

    .card-title {
      font-size: 1.87em;
      font-weight: normal;
      color: rgba(0,0,0,0.87);
    }
    .card-text {
      font-size: 1.1em;
      line-height: 1.6em;
    }

    .app-card-actions {
      padding: .5em;
    }
  }

  /*** dropdown menu*****/
  .dropdown-menu {
    padding: 0;
    margin: 0;
    border: 1px solid @dropdown-border;
    border-radius: 1px;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    li {
      a {
        font-size: 1.1em;
        padding: 10px 15px;
        &:hover {
          background-color: rgba(158,158,158,.2);
        }
      }
    }
  }


  //file upload button
  .app-single-file-upload {
    .glyphicon {
      margin-right: 0.500em;
    }
  }
  //stylings for tile widget
  .app-tile {
    &.bg-danger, &.bg-success, &.bg-info, &.bg-warning {
      color: @panel-primary-text;
    }
  }

  /*Date, DateTime & Dropdown widgets*/
  .app-calendar, .app-date, .app-datetime, .app-timeinput {
    //setting the margin for the group button so that it shows up over the input
    .input-group-btn:last-child {
      > .btn, .btn-group {
        margin-left: 0;
      }
    }
    //setting the base font color for the popup content
    .dropdown-menu {
      color: @text-color;
    }

    thead {
      tr {
        th {
          .btn.uib-left, .btn.uib-right, .btn.uib-title {
            color: @component-active-color;
            background: transparent;
            border-color: transparent;
            box-shadow: none;
            font-size: 1.24em;
            padding: 1.4em 1em;
            text-transform: uppercase;
            &:hover, &:focus, &:active, &:active:hover, &:active:focus {
              color: @component-active-color;
              background-color: rgba(0,0,0,.01);
              border-color: transparent;
            }
          }
          .uib-left {
            text-align: left;
          }
          .uib-right {
            text-align: right;
          }
        }
      }
    }

    tbody {
      .btn-default, .btn {
        background-color: @gray-lighter;
        border-color: @gray-lighter;
        color: @wm-datepicker-text-color;
        width: auto;
        box-shadow: none;
        padding: @padding-base-horizontal;
        &.btn-info {
          background-color: lighten(@brand-primary, 30%);
          color: @text-color;
        }
        &:hover, &:focus, &.active:hover, &:focus:hover {
          background-color: @component-active-bg;
          border-color: @component-active-bg;
          color: @component-active-color;
          .text-info {
            color: inherit;
          }
        }
        .text-info {
          color: @brand-primary;
          font-weight: bold;
        }
      }
    }
    small {
      font-size: .85em;
      text-transform: uppercase;
      color: @component-active-color;
    }
    .uib-monthpicker, .uib-yearpicker {
      tbody {
        .btn-default, .btn {
          padding: @padding-base-horizontal 4px;
        }
      }
    }
  }

  //styling for the popup calendar actions
  .app-date, .app-datetime {
    .dropdown-menu {
      border: 1px solid transparent;
      padding: 0;
      li {
        &:last-child {
          padding: 1.2em;
          overflow: auto !important;
        }
      }
    }

    strong {
      font-weight: normal;
    }

    table {
      outline: none;
    }

    thead {
      background-color: @component-active-bg;
      tr:nth-child(2) {
        background-color: @wm-datepicker-header-bg;
        th {
          &:first-child {
            padding: 10px 0 10px 20px;
          }
          &:last-child {
            padding: 10px 20px 10px 0;
          }
        }
      }
    }

    .uib-daypicker {
      tbody{
        .btn-default {
          border-radius: 50%;
          min-width: 0;
          height: 24pt;
          width: 24pt;
          vertical-align: middle;
          text-align: center;
          padding: 0;
        }
      }
    }

    tbody {
      tr {
        td {
          &:first-child {
            padding-left: 20px;
          }
          &:last-child {
            padding-right: 20px;
          }
        }
        &:first-child {
          td {
            padding-top: 15px;
          }
        }
        &:last-child {
          td {
            padding-bottom: 15px;
          }
        }
      }
      .btn-default {
        &.active, &:focus {
          background-color: @component-active-bg;
          color: @component-active-color;
          &:hover {
            background-color: @component-active-bg;
          }
          .text-info {
            color: @component-active-color;
          }
        }
        &:hover {
          background-color: @wm-datepicker-btn-hover-bg;
          border-color: transparent;
          color: @text-color;
        }
      }
      .btn-sm {
        font-size: 1em;
      }
    }

    .btn-group {
      box-shadow: none;
      .btn , & + .btn {
        background-color: transparent;
        border-color: transparent;
        color: @brand-primary;
        font-size: 1.1em;
        box-shadow: none;
      }
    }
  }

  //Time Widget classes for styling the buttons
  .app-timeinput, .app-datetime {
    tbody {
      .am-pm .btn {
        border: 1px solid @input-border;
        padding: 8px 12px;
      }
      .btn-link {
        width: 100%;
        background-color: transparent;
        &:hover {
          background-color: @btn-primary-bg;
          color: @btn-primary-color;
        }
      }
    }
  }

  //Calendar Specific
  .app-calendar {
    background-color: @body-bg;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
    .fc {
      .fc-state-default {
        background: rgba(0,0,0,.05);
        border: 1px solid rgba(0,0,0,.05);
        color: @component-active-color;
        text-shadow: none;
        &.fc-state-hover, &:focus, &.fc-state-active {
          color: @btn-default-color;
          background: @btn-default-bg;
          border: 1px solid @btn-default-border ;
        }
      }
    }
    .fc-state-highlight {
      &.fc-today {
        background-color: transparent;
        color: @brand-primary;
      }
    }
    .fc {
      .fc-toolbar {
        margin-bottom: 0;
        padding: 1.82em;
        background-color: @brand-primary;
        h2 {
          color: @component-active-color;
          text-transform: uppercase;
        }
      }
    }
    .fc-widget-header {
      background-color: transparent;
      color: @wm-calendar-header-color;
      font-weight: normal;
      font-size: 1.03em;
    }
    .fc-body {
      .fc-row {
        min-height: 5em;
      }
    }
    .fc-day-number {
      padding: .5em .3em;
      color: @wm-calendar-text-color;
      font-size: 1.52em;
      text-align: left;
    }
  }
  /*********************************************************************************************************************************************/
  /****************************************************Advanced editors******************************************************************************/
  /*********************************************************************************************************************************************/
  //Spinner
  .app-spinner  {
    .spinner-message {
      color: @brand-primary;
      background-color: transparent;
      border-color: transparent;
    }
  }
  .app-richtexteditor {
    .btn-default {
      background-color: @gray-lighter;
      border-color: @gray-light;
      color: @text-color;
      &.disabled, &[disabled], &.disabled:hover, &[disabled]:hover, &.disabled:focus, &[disabled]:focus,
      &.disabled.focus, &.focus[disabled], &.disabled:active, &[disabled]:active, &.disabled.active, &.active[disabled],
      &.disabled.active, &.active[disabled] {
        background-color: @gray-lighter;
        color: @text-color;
      }
      &:focus, &.active , &:active:hover  {
        background-color: @component-active-bg;
        color: @component-active-color;
        border-color: @component-active-bg;
      }
    }

    .ta-root .ta-toolbar .btn-group .btn {
      height: 3em;
      padding: .75em;
    }

    .form-control {
      background-color: @gray-lighter;
      background-image: none;
    }
  }

  fieldset[disabled] {
    .app-richtexteditor {
      .btn-default, .btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
        background-color: @gray-lighter;
        color: @text-color;
      }
    }
  }

  //Tree
  .app-tree {
    ul {
      li {
        span {
          &:hover {
            color: @text-color;
          }
        }
        &.selected {
          > i, > span {
            color: @brand-primary;
          }
        }
      }
    }
  }

  /***color picker class: adding the default size and padding to the addon*******/
  .app-colorpicker {
    &.input-group {
      width: 13em;
    }
    .input-group-addon {
      padding: 0.833em 1.333em;
      background-color: @gray-lighter;
    }
  }
  /***popover class: removing the radius*******/
  .popover {
    padding: 0;
    border-radius: @border-radius-base;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    color: @text-color;
  }

  .app-fileupload .app-multi-file-upload, .app-fileupload .app-single-file-upload {
    height: auto;
    min-height: 3em;
  }

  .app-files-upload-status {
    padding-top: 0.833em;
    &.multiple {
      padding-top: 0.333em;
      font-size: 1.2em;
    }
  }

  /***Slider widget styling*******************/
  input[type='range'] {
    color: @brand-primary;
  }
}


// Custom Styling Plymouth Rock
.wm-app .app-header, .wm-app .app-mobile-header {
    background-color: @color-global-header;
}
.wm-app .application-name {
    color: @color-header-text;
    font-size: 200%;
    margin: 0;
    padding: @value-medium @value-large; 
    font-weight: 500;
}
.wm-app .app-grid-column.header-searchbox {
    padding: @value-large @value-large;
}
.wm-app .app-grid-column.header-searchbox .form-group {
    margin: 0;
}
.wm-app .btn-default.header-searchbutton {
    color: @color-white;
    background-color: @color-button;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    height: 36px;
    cursor: pointer !important;
}
.wm-app .btn-default.header-searchbutton .btn-caption {
    padding: 0 @value-medium;
    vertical-align: middle;
    text-transform: none;
}
.wm-app .header-searchbox .form-control:focus, .wm-app .header-searchbox .form-control:hover {
    background-image: none;
}
.header-clockicon.app-icon-wrapper {
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: @color-navbar-background;
    margin-top: @value-large;
}
.header-clockicon.app-icon-wrapper .app-icon {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    text-align: center;
    width: 100%;
    font-size: 231%;
    padding-top: 5px;
}
.header-recentquotes-label {
    display: inline-block;
    height: 28px;
    vertical-align: bottom;
    padding: 0 0.8em;
    margin-bottom: 0 !important;
}
.wm-app .shortnamecls.btn-default {
    padding: 0;
    border: 0;
    background:  @color-navbar-background;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #fff;
    font-size: 121%;
    margin-top: 0;   
}
.namelabel {
    vertical-align: middle;
    margin-top: 21px;   
}
.main-tabpanelcls.app-tabs .nav-tabs>li.active>a {
    color: @color-white;
}
.main-tabpanelcls.app-tabs .nav-tabs>li.active>a:after {
    background: none;
}
.main-tabpanelcls.app-tabs .nav-tabs>li>a {
    text-transform: none;
}
.checkbox-cls .form-group {
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
}
.checkbox-cls.col-xs-12 {
    width: auto;
}
.checkbox-cls .form-group .control-label {
    padding-left: @value-medium;
    margin-bottom: @value-medium;
    font-size: 110% !important;
}
.wm-app .client-form-subpanelcls.panel {
    box-shadow: none;
}
.wm-app .app-form .client-form-subpanelcls .panel-body .app-grid-layout {
    padding: 0;
}
.wm-app .client-formcls.app-form .app-label {
    margin-bottom: 0.3125em;
    font-weight: 600;
    padding-left: 0;
    font-size: 100%;
    font-family: 'open_sansregular', 'Arial', sans-serif;
}

.wm-app .client-formcls.app-form.quote-label-form .app-label {
    color: #989EB3;
}
.wm-app .client-formcls .form-group {
    padding-right: @value-small;
}
.wm-app .client-formcls .form-group .form-control {
    width: 100%;
    font-size: 92.3%;
    background: @color-dropdown-background;
}
.wm-app .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;
}
.wm-app .btn-group>.btn:last-child:not(:first-child), .wm-app .btn-group>.dropdown-toggle:not(:first-child) {
    border-radius: 0;
}
.app-date.input-group {
    width: 100% !important;
    max-width: 100em;
}
.phonenumber-exceptioncls .app-label {
    display: none;
}
.client-formcls.co-applicantformcls.panel.app-panel.app-form {
    padding-top: 38px !important;
}
button.btn-default.formfield-help-iconcls.btn {
    margin: 0;
    padding: 7px 3px;
    position: absolute;
    left: auto;
    right: -16px;
    top: 34px;
    background: #A6B929;
    box-shadow: none;
}
button.btn-default.formfield-help-iconcls.btn i {
    font-size: 10px;
    color: @color-white;
}
.client-formcls.app-form .panel-body .app-grid-layout {
    padding: 0 @value-large;
}
form.client-formcls {
    box-shadow: none !important;
}
.incident-templatecls>div>label {
    font-weight: bold;
    padding-top: 50px;
    font-size: 18px;
}
.wm-app .incident-templatecls.app-grid-column{
    background: @color-white;
    padding: @value-large;
}
.wm-app .incident-templatecls .list-group-item {
    border: none;
    border-top: 2px solid @color-dropdown-background;
    padding: @value-small 0px;
}
.incident-card-rightlabelcls {
    color: @color-secondary-text;
    font-size: 93%;
}
.incident-card-leftlabelcls {
    font-weight: 600 !important;
    font-size: 93%;
}
button.btn-default.flat-btncls.btn {
    box-shadow: none;
    border: none;
    padding: 0;
}
button.btn-default.close-btn-cls{
    box-shadow: none;
    border: none;
    background: @color-error;  
    padding: 0 @value-small;   
}
button.btn-default.flat-btncls .btn-caption{
    color: @color-button;
}
button.btn-default.close-btn-cls i {
    color: @color-white;
}
.wm-app .driverform-cls > ul .list-group-item.col-lg-6 {
    width: 33%;
}
.wm-app .driverform-cls > ul .list-group-item {
    border-top: none !important;   
}
.wm-app .driverdropdowncls .app-label {
    margin-bottom: @value-small;
    font-weight: 600;
    padding-left: 0;
    font-size: 93%;
    font-family: 'open_sansregular', 'Arial', sans-serif;
}
.wm-app .driverdropdowncls .form-control {
    width: 100%;
    font-size: 92.3%;
    background: @color-dropdown-background;
}
.statelist-cls > ul li {
    width: 19% !important;
    display: inline-block;
    margin-left: 1%;
}
.vehicle-listcls.app-grid-column.ng-scope.ng-isolate-scope.col-sm-11 {
    width: 100%;
}
.vehicle-listcls ul li {
    width: 24% !important;
    display: inline-block;
    margin-left: 1%;
}
.wm-app .list-group-item.active, .wm-app .list-group-item.active:hover, .wm-app .list-group-item.active:focus {
    background: #fff !important;
    border: none !important;
}
.wm-app .list-group-item {
    border: none !important;
}
.carrier-formcls > ul {
    width: 50%;
}
.carrier-formcls ul li div {
    padding: 0 !important;
}
.carrier-formcls ul li div label {
    margin-bottom: 0.3125em;
    font-weight: 600;
    font-size: 93%;
    color: #5e5e5e;
}
.carrier-formcls > ul > li .form-group .client-formcls, .carrier-formcls > ul > li .form-group {
    margin: 0 !important;
}
.carrier-formcls>ul>li .form-group .col-md-9 {
    width: 100% !important;
}
.carrier-formcls>ul>li .form-group .client-formcls .col-sm-8 {
    width: 100%;
}
.wm-app .text-muted {
    color: #5e5e5e !important;
}
.statelist-cls > ul > li div {
    padding-left: 0 !important;
}
.statelist-cls > ul li .client-formcls .form-control {
    background: @color-dropdown-background;
}
.statelist-cls {
	background: @color-white;
}
.quote-listcls ul li.app-list-item.ng-scope.col-xs-12.col-sm-12.col-md-12.col-lg-12.list-group-item {
    margin-bottom: @value-medium !important;
    box-shadow: inset 0 0 2px #777;
    background: #fff !important;
}
.quote-listcls ul li .app-grid-layout .app-grid-row {
    display: flex;
    align-items: center;
}
.quote-listcls ul li .app-grid-layout .app-grid-row .app-grid-column img {
    margin-left: 10%;
    width: 80% !important;
}
.quote-listcls ul li .app-grid-layout .app-grid-row .app-grid-column label.h5 {
    margin-bottom: 0;
}
.quotelist-details-columncls.app-grid-column .app-grid-row .col-sm-6,
.quotelist-details-columncls.app-grid-column .app-grid-row a {
    padding: 0;
}
.quotelist-details-columncls.app-grid-column .app-grid-row .col-sm-6 {
    width: auto !important;
}
.quote-listcls ul li .app-grid-layout .app-grid-row .app-grid-column:nth-child(1) {
    color: @color-black !important;
}
.quote-listcls ul li .app-grid-layout .app-grid-row .app-grid-column:nth-child(2) {
    color: @color-secondary-text !important;
}
.quotelist-details-columncls.app-grid-column .app-grid-row .col-sm-6 label, .quotelist-details-columncls.app-grid-column .app-grid-row a {
    padding: @value-small !important;
}
.quotelist-details-columncls.app-grid-column .app-grid-row a {
    color: @color-secondary-text !important;
}
.wm-app .popover {
    max-height: 525px;
    overflow-y: auto;
}
.quote-listcls ul li .app-grid-layout .app-grid-row a {
    margin-bottom: 1px;
}
.modal-footer-center {
    text-align : center !important;
}
/* Overriding the default css for layout changes */
.wm-app .panel-heading {
	padding: 12px 12px 0 12px !important;
}
.wm-app .radio label,
.wm-app .checkbox label {
    padding-left: 0 !important;
}
.client-formcls {
	padding: 0 20px 80px 45px !important;
}
.panel-heading .heading {
    font-weight: bold !important;
}
.notification-modal-content > .modal-content {
    padding: 0 25px !important;
}
.notification-modal-content .modal-footer > .notification-ok-btn {
    width: 225px !important;
    border-radius: 3px !important;
}
.notification-modal-content > .modal-content > .app-dialog-body {
	min-height: 0;
}
.checkbox-cls > .app-checkbox.checkbox {
    margin: 4px 0;
}
.tab-body > .app-grid-layout {
    background-color: @color-white;
}
.app-button-group>.app-button {
    background-color:@default-button-color;
    border-radius: 3px !important;
}
.app-button-group>.app-button.cancel-btn {
    border: 1.5px solid @warning-btn-color !important;
    border-radius: 3px !important;
    background-color: @color-white;
    color: @warning-btn-color;
}
.app-button-group>.app-button.btn-warning {
    background-color:@warning-btn-color;
}
span.btn.btn-primary.app-switch-overlay.switch-handle {
    background-color: @warning-btn-color !important;
    box-shadow: none;
}
.app-grid-column > .app-ng-transclude > .app-grid-layout {
    padding: 0 !important;
}
.driver-fromcls.client-formcls {
    padding: 0 20px 0 27px !important;
}
.custom-driver-header {
    padding: 0 20px 0 58px !important;
}
.no-border {
    border: 0 !important;
    box-shadow: none !important;
}
.app-switch > .btn-group > a {
    border-radius: 3px 0 0 3px !important;
    box-shadow: none !important;
    outline: 0 !important;
}
.wm-app .app-switch a:hover, .wm-app .app-switch a:focus {
    border: 1px solid @color-button !important;
    text-decoration: none !important;
    color: #5e5e5e !important;
}
.wm-app .live-field.form-group .help-block.text-danger {
    font-size: 92.3%;
}
.app-tabs .nav.nav-tabs>li.active {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}
.main-tabpanelcls.app-tabs .nav-tabs>li>.errorformcls {
    color: @color-error;
}
.whitebackgroundcls {
    background: @color-white;
    padding-top: @value-large;
}
.nopaddingcls.client-formcls {
    padding: 0 !important;
}
.statelist-cls li {
    margin-left: 0 !important;
    padding: 12px 0 !important;
}
.vehicle-listcls li {
    margin-left: 0 !important;
    padding: 0 !important;
}
.vehicle-listcls .nopaddingcls {
    border: none;
}
.wm-app .form-control, .wm-app .form-group+.form-control {
color: #333;
}
.custom-tab>.nav.nav-tabs {
    display: none !important;
}
.no-border-shadow {
    box-shadow: none !important;
}
.quote-grid-container {
    padding: 10px 10%;
}
.quote-modal-dailog > .modal-content {
    background-color: transparent;
    border: none !important;
}
.custom-quote-grid > thead > tr > th {
    font-weight: bold;
}

.quote-modal-dailog>.modal-content, .quote-modal-dailog>.modal-content>.modal-body {
    min-height: 450px;
}

/* Quote grid button on hover */

.custom-quote-grid>tbody>tr:focus>td:last-child .grid-quote-btn,
.custom-quote-grid>tbody>tr:focus>td:last-child .grid-quote-btn:hover,
.custom-quote-grid>tbody>tr:focus>td:last-child .grid-quote-btn:focus,
.custom-quote-grid>tbody>tr:hover>td:last-child .grid-quote-btn,
.custom-quote-grid>tbody>tr:hover>td:last-child .grid-quote-btn:hover,
.custom-quote-grid>tbody>tr:hover>td:last-child .grid-quote-btn:focus{
    background-color: #7694E4 !important;
}

.custom-quote-grid>tbody>tr:focus>td:last-child .grid-quote-btn span,
.custom-quote-grid>tbody>tr:hover>td:last-child .grid-quote-btn span{
    color: #fff !important;
    font-weight: normal !important;
}

.grid-quote-btn {
    margin: 0 5px !important;
    width: 8em;
    height: 30px;
    box-shadow: none !important;
    background-color: #ddd;
}

.no-padding {
    padding: 0 !important;
}
/* Button pagination */

.btn-pagination.btn-warning,
.btn-pagination.btn-warning:hover,
.btn-pagination.btn-warning:focus {
    background-color: #F5F5F5 !important;
    color: #5e5e5e !important;
    border: 0;
}

.btn-pagination.btn-warning.active,
.btn-pagination.btn-warning.active:hover,
.btn-pagination.btn-warning.active:focus {
    background-color: #F9AE4F !important;
    color: #fff !important;
    border: 0;
}

.list-dark-theme .list-group-item {
    background-color: #eee;
}
.list-group > .no-data-msg {
    margin: 10px 0 0 0 !important;
}

/*Common styles*/
div.heading {
    color: @font-color !important;
}
.button-group {
    box-shadow: none !important;  
}
.button-footer > button {
    width: 120px !important;
    height: 30px !important;
}
span.caption.ng-binding {
    padding: 1px 1.625em !important;
}
.app-button {
    box-shadow: none !important;
}
.app-switch {
    border-radius: 3px;
}

.app-switch span.app-switch-overlay {
    border-radius: 3px 0 0 3px;
}

.app-switch>.btn-group>a.btn:first-child,
.app-switch>.btn-group>a.btn:first-child:hover,
.app-switch>.btn-group>a.btn:first-child:focus {
    border-radius: 3px 0 0 3px !important;
}

.app-switch>.btn-group>a.btn:last-child,
.app-switch>.btn-group>a.btn:last-child:hover,
.app-switch>.btn-group>a.btn:last-child:focus {
    border-radius: 0 3px 3px 0 !important;
}
.wm-app .live-field.form-group .help-block{
    width: 100%;
    padding: 3px 3px 0 3px;
}
/*For checkbox margin fix*/
.checkbox-cls span.caption.ng-binding{
    padding: 1px 0.625em !important;
}
ul.app-checkboxset.list-group {
    margin-left: 35px;
}
.header-searchbutton {
    border-radius: 0 3px 3px 0 !important;
}
.wm-app .form-control {
    height: 31px !important;
    border-radius: 3px !important;
}

.header-search-box.form-control {
    border-radius: 3px 0 0 3px !important;
    height: 36px !important;
    background-image: none !important;
}
.wm-app .app-grid .table thead th .header-data {
    text-transform: uppercase;
    color: #383838;
    font-weight: bold;
}
.app-tabs.main-tabpanelcls .nav.nav-tabs>li {
    min-width: 75px;
}
.quote-modal-dailog>.modal-content>.modal-body {
    padding: 20px;
    background: #f5f5f5;
    border-radius: 5px;
}
.quote-modal-dailog .no-data-msg {
    margin-top: 10px;
}
.quote-modal-dailog.modal-dialog .app-button {
    width: 135px;
}
select.form-control {
    -webkit-appearance: none;
}
.wm-app .client-formcls .form-group .form-control {
    box-shadow: none !important;
    webkit-box-shadow: 0 3px 5px #333;
    border-radius: 3px 3px 3px 3px;
    -webkit-appearance: none;
}
.red-tab {
    color: #FF0000;
}
.statelist-cls > ul.app-livelist-container {
    padding-left: 15px !important;
}
.coverage-heading {
    background: #989eb3;
    padding: 0.5em 1em !important;
    border-radius: 3px;
    width: 10%;
    font-weight: 400 !important;
    color: #fff;
}
.button-footer {
    box-shadow: none !important;
}
ul.list-inline.list-inline-input > li {
    width: 48%;
}
.dark-theme {
    background: #eee !important;
}
.list-group>.list-group-item,
.list-group>.list-group-item:hover,
.list-group>.list-group-item:active {
    background: #fff !important;
}
.dark-theme>ul>li.list-group-item,
.dark-theme>ul>li.list-group-item.active,
.dark-theme>ul>li.list-group-item.active:focus,
.dark-theme>ul>li.list-group-item.active:hover,
.dark-theme>ul>li.list-group-item:focus,
.dark-theme>ul>li.list-group-item:hover {
    background: #ececee !important;
}
.carrier-formcls .app-list-item-header {
    background-color: inherit !important;
}
.carrier-formcls label.app-label {
    color: #383838 !important;
    font-size: 100% !important;
}
.no-border {
    border: none !important;
}
.main-tabpanelcls>ul.ul.nav.nav-tabs {
    box-shadow: 0px 3px 15px #000;
    -moz-box-shadow: 0px 3px 15px #000;
    -webkit-box-shadow: 0px 3px 15px #000;
    margin-bottom: 3px;
    border-bottom: none;
}
.wm-app .form-control:focus,
.wm-app .form-control:active, 
.wm-app .form-control:hover {
    border: 1px solid @color-button !important;
    background: #fff !important;
}
.clear-column-layout > .list-group > .list-group-item {
    display: inline-block !important;
    width: 100%;
}
.new-applicant-btn {
    border-radius: 3px !important; 
}
.clients-search-section{
    background: #fff !important;
}
.clients-search-section > .app-datagrid {
    width: 100%;
    padding: 10px 10%;
}
.clients-search-section > .app-datagrid tr th header-data {
    font-weight: bold;
    font-size: 16px;
}
.client-button {
    padding: 6px 15px;
    border: 1px solid #508ae2;
    color: #508ae2 !important;
    border-radius: 3px !important;
    text-decoration: none !important;
}
.quote-button {
    padding: 6px 15px;
    border: 1px solid #508ae2;
    background: #508ae2 !important;
    color: #fff !important;
    border-radius: 3px !important;
    text-decoration: none !important;
}
.clients-search-section a:hover,
.clients-search-section a:focus{
    text-decoration: none !important;
}

.header-searchbutton.btn-default.btn:hover{
    background-color: @warning-btn-color !important;
    color: #fff !important;
}
.font-bold label {
    font-weight: bold !important;
}

.blue-color label {
    color: #508ae2 !important;
}

.font-light label {
    color: #989EB3 !important;
}
.wm-app .app-grid.clients-search-section .table thead th .header-data {
    font-size: 15px;
}
.logo-img {
    width: 300px !important;
}

.wm-app .app-header {
    float: none;
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 7;
    height: 70px !important;
}

.wm-app .app-content {
    z-index: 1;
    top: 70px;
}

.wm-app .app-top-nav {
    top: 6px;
}

.wm-app .app-form .form-action {
    z-index: 2;
}
.carrier-group-headercls {
    background: #989eb3;
    padding: 0.5em 1em !important;
    border-radius: 3px;
    width: 100%;
    color: #fff;
    margin-top: 20px;
}

.carrier-temperory-title.app-label {
    display: block;
    width: 100%;
    background: #fff;
    margin: 0;
    color: #383838 !important;
    font-weight: bold;
    font-size: 1.125rem;
    text-transform: uppercase;
    padding: 12px 70px 0;
}

.carrier-form-cls > .form-body.panel-body {
    width: 33%;
}

.help-content {
    color: #aac540 !important;
    margin: 0 !important;
    position: absolute;
    top: 6px;
    left: auto;
    right: 10px;
    font-size: 16px;
}
.wm-app .quote-submission-gridcls.app-grid .table thead th .header-data {
    text-transform: none;
    font-size: 115%;
}

.wm-app .quote-submission-gridcls .table>thead>tr>th {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.quote-submission-gridcls td .actions-column button .btn-caption {
    color: rgba(0,0,0,0.8);
    font-weight: 600;
}
.quote-submission-gridcls td .actions-column button {
    padding-top: 5px;
}
.quote-modal-dailog.modal-dialog {
    height: 450px;
    top: 10%;
    overflow: auto
}


.view-submit-btncls {
    background: #7694E4;
    border: none !important;
}

.view-submit-btncls .btn-caption {
    color: #fff;
    text-align: center;
    width: 100%;
}
.quote-modal-dailog .app-list-item, .quote-modal-dailog .app-list-item:hover {
    background: transparent !important;
}

.shortform-cls {
    display: inline-block;
    width: auto !important;
}

.wm-app .coverages-quote-labelscls .col-sm-3 {
    width: auto !important;
}
.main-tabpanelcls > ul {
    position: fixed;
    top: 70px;
    z-index: 10;
    width: 100%;
}

.main-tabpanelcls.app-tabs >.tab-content {
    padding-top: 45px;
}

.wm-app .app-top-nav+.app-content {
    height: auto;
}
.wm-app .header-search-box.form-control:focus, 
.wm-app .header-search-box.form-control:active,
.wm-app .header-search-box.form-control:hover {
    border: none !important;
}

.header-hover-cls {
    top: 70px;
    background: #fff;
}

.bold-black-fontcls label {
    color: #000;
    font-weight: bold;
}
.wm-app .quote-landing-page-cls .client-formcls .form-group .form-control {
    background: #fff;
}

.wm-app .quote-landing-page-cls .checkbox .caption:before {
    box-shadow: inset 0 0 0 13px #fff;
}
.confirm-incidents-popover-cls .app-dialog-header.modal-header {
    background: #fff;
    border-radius: 5px;
}
.confirm-incidents-popover-cls .app-dialog-header.modal-header button {
    display: none;
}
.confirm-incidents-popover-cls .app-dialog-header.modal-header .dialog-heading {
    color: #000;
    font-size: 130%;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.confirm-incidents-popover-cls .modal-content {
    border-radius: 5px;
    border: none;
    box-shadow: none;
}
.btn-warning.save-btn-cls {
    margin-bottom: 100px !important;
}

.recent-quotes-headercls,
.recent-quotes-headercls ul,
.recent-quotes-headercls ul li {
    background: #555369;
}

.recent-quotes-headercls .list-group>.list-group-item,
.recent-quotes-headercls .list-group>.list-group-item:hover,
.recent-quotes-headercls .list-group>.list-group-item:active {
    background: #555369 !important;
    border-bottom: 1px solid #fff;
}

.recent-quotes-headercls a {
    background: transparent;
    color: #f2f2f2;
}

.recent-quotes-headercls a:hover,
.recent-quotes-headercls a:visited,
.recent-quotes-headercls a:active {
    color: #fff;
    font-weight: 600;
}

.wm-app .popover.fade.in {
    border-radius: 5px;
}

.wm-app a.header-anchor-cls:hover, .wm-app a.header-anchor-cls:focus {
    text-decoration: none;
}
.drivers-list li.app-list-item {
    padding-bottom: 0;
    padding-top: 0;
}

.drivers-list li.app-list-item label {
    margin-bottom: 0;
    font-weight: bold;
}

.wm-app .media-list.drivers-list .panel-heading {
    padding-bottom: 10px !important;
}

.wm-app .media-list.drivers-list .panel-heading {
    padding-bottom: 10px !important;
}

.quote-window-vehicle-listcls li.app-list-item {
    display: inline-block;
    width: 50%;
    padding: 10px 13px 10px 13px;
}

.quote-window-vehicle-listcls li.app-list-item:first-child {
    padding: 10px 5px 10px 12px;
}
.remove-box-shadow-cls .form-elements .panel {
    box-shadow: none;
}
.text-label-nowrap > div > label {
    width: 118% !important;
    max-width: 118% !important;
}
.wm-app .list-group-item.active,
.wm-app .list-group-item.active:hover,
.wm-app .list-group-item.active:focus {
    background: inherit !important;
}

.height-fix {
    height: 100% !important;
}
.media-list.drivers-list.margin-fix {
    margin-left: -10px;
}
.margin-top-header {
    margin-top: 7px !important;
}
.payment-partial-cls{
    margin-bottom: 0 !important;
}
.help-icon-container a.help-content > i {
    margin-bottom: 1px;
}
.help-icon-container a.help-content > i::before {
    font-size: 20px;
}
.admin-page-layout {
    width: 80% !important;
    margin: 0 auto;
}
.admin-table thead tr th {
    background: #989eb3!important;
    border: 0 !important;
    color: #fff !important;
}

.admin-table tbody tr td {
    border: 0 !important;
}
.admin-table.table-bottom-border tbody tr td{
    border-bottom: 1px solid #989eb3 !important;
}
.edit-credential-modal>.modal-content {
    border-radius: 5px !important;
}
.wm-app .app-form .control-label, 
.wm-app .app-liveform .control-label, 
.wm-app .app-form .app-label, 
.wm-app .app-liveform .app-label {
    font-family: inherit;
}
.client-formcls.edit-cred-modal {
    padding-bottom: 0 !important;
}
.button-fluid {
    width: 100% !important;
    text-align: center !important;
}
.button-fluid > .btn {
    float: none !important;
}
.edit-confirmation-modal {
    text-align: center;
}

.edit-confirmation-modal .modal-content {
    border-radius: 5px;
}

.edit-confirmation-modal .app-dialog-header.modal-header {
    background-color: #fff;
    border-radius: 5px;
}

.edit-confirmation-modal .modal-header .modal-title {
    color: #3f3e4e;
    font-family: inherit;
}

.edit-confirmation-modal .app-dialog-header .app-dialog-title .wi {
    color: #cc0000;
}
.admin-list-header {
    background-color: #989eb3 !important;
}
.wm-app .app-grid .table.admin-table thead th .header-data {
    color:  #fff;
    text-transform: inherit;
}
.admin-checkbox {
    margin: 0 20px;
    border-top: 1px solid red;
    text-align: left;
}
.admin-checkbox.app-checkboxset.inline li {
    margin: 5px 0;
    width: 11%;
    height: 28px;
    text-align: left;
}
.notification-incidents-btn{
    border-radius: 5px !important;
}
@media (min-width: 768px) {
    .wm-app .modal-dialog {
        margin: 65px auto;
    }
}
.tax-and-history-table-header {
    background: #565469;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0; 
    border-top-right-radius: 0;

}
.tax-and-history-table-header > .header-row a.app-anchor {
    color: #fff;
}
.tax-and-history-table-header > .header-row { 
    color: #fff;
}
.wm-app .client-formcls .form-group select.form-control,
select.form-control{
    padding: 5px 8px !important;
}
.dark-input-theme{
    background-color: #f5f5f5 !important;
}
.btn-generic-width {
    min-width: 80px;
}
.custom-hover-grid .app-datagrid-row,
.custom-hover-grid .app-datagrid-row label {
    cursor: pointer !important;
}
.quote-window-vehicle-listcls .coverage-heading,
.help-icon-container .coverage-heading{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer !important;
}
.media-body.inline-block,
.inline-block {
    display: inline-block !important;
    width: 100%;
}
.app-livelist .app-list-item.active.list-group-item .quotelist-details-columncls .app-label {
    opacity: inherit;
}
.admin-list-table>ul>li{
    padding-bottom: 0 !important;
}
.admin-list-table>ul>li:nth-of-type(odd) {
    background-color: rgba(162, 162, 162, 0.058823529411764705) !important;
}
div.admin-list-table>ul.list-group>li.list-group-item:hover {
    background-color: #eee !important;
    background: #eee !important;
}
.margin-bottom-fix{
    margin-bottom: 50px;
}
.quote-checkbox-form span.caption.ng-binding {
    padding-right: 0 !important;
    min-height: 18px;
    margin: 1px 0;
}
.coverages-quote-labelscls .media-heading {
    margin-bottom: 0px;
}
.coverages-quote-labelscls .app-label {
    margin-bottom: 0px;
}
.cursor-pointer {
    cursor: pointer !important;
}
.line-height-fix{
    line-height: 11px !important; 
}
.line-height-fix-label {
    line-height: 16px !important;
}
.script-container {
    padding: 3px 10px;
    height: 100%;
}
.script-container>section {
    padding: 30px 20px;
    margin: 0 5px 0 0;
    box-shadow: 0 3px 15px #ccc !important;
    border-radius: 30px;
    height: 100%;
    font-size: 14px;
    line-height: 22px;
}
.quote-checkbox-form > li {
    margin-bottom: 0 !important;
}
.eligibility-script-container {
    position: absolute !important;
    left: 32%;
    height: 93% !important;
    padding: 10px 0 !important;
}
.driver-script-container {
    position: absolute !important;
    left: 65%;
    height: 82% !important;
    padding: 10px 0 !important;
    z-index: 1;
    top: 65px;
}
.driver-script-wrapper.single-container .driver-script-container {
    left: 33%;
}
.quote-script-container {
    position: absolute !important;
    left: 75%;
    height: 93% !important;
    padding: 10px 0 !important;
    z-index: 1;
    top: 5px;
}
.policy-script-container {
    position: absolute !important;
    left: 82%;
    height: 93% !important;
    padding: 10px 0 !important;
    z-index: 1;
    top: 5px;
}
.quote-result-script-container {
    position: absolute !important;
    right: 3px;
    height: 90% !important;
    padding: 0 !important;
    z-index: 1;
}
.coverage-script-container {
    margin-top: 15px;
}
.custom-grid-layout-3>.app-grid-column {
    width: 18.4%;
    padding: 0 0;
}

.custom-grid-layout-3>.app-grid-column:not(:first-child) {
    margin-left: 1.4%;
}
.custom-input-theme>input {
    background: #fff !important;
    border-radius: 0 !important;
}

.custom-input-theme {
    border: 1px solid #989eb3;
    background: #989eb3;
}
.custom-input-theme>.input-group-addon,
.custom-input-theme>.input-group-addon:hover {
    background: #989eb3;
    padding: 2px 10px;
    cursor: pointer;
}
.admin-checkbox>.checkbox input:checked+.caption:before,
.admin-checkbox>.checkbox .caption:before,
.admin-checkbox>.checkbox .caption:after {
    z-index: -10;
}

.admin-checkbox>.checkbox>label>span.caption {
    background: #F4F4F7;
    color: #3F3E4E;
    height: 27px !important;
    border-radius: 13px;
    background-color: #F4F4F7;
    padding: 5px 14px !important;
    width: 50px !important;
    text-align: center;
}

.admin-checkbox>.checkbox.active>label>span {
    background: #508AE3;
    background-color: #508AE3;
    color: #fff !important;
}
.coverages-client-padding {
    padding: 0 20px 0px 45px !important;
}
.custom-input-theme>span.input-group-addon>form>button.app-search-button {
    color: #fff;
    font-size: 20px;
}
.incident-card-leftlabelcls {
    font-weight: bold;
    font-size: 14px;
}
.incidentcard-cls > .media-body > .app-grid-layout>.app-grid-row>.app-grid-column {
    width: auto !important;
}
.incident-card-rightlabelcls {
    margin-bottom: -5px !important;
}
.incidentcard-cls {
    padding: 10px 0;
    border: 1px solid #ccc;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
}
.incident-templatecls {
    width: 21.5% !important;
}
.close-incident {
    position: absolute;
    left: 43%;
}
.incident-templatecls .flat-btncls >span {
    text-transform: none;
}
select.form-control.app-select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, #ccc 50%), linear-gradient(135deg, #ccc 50%, transparent 50%) !important;
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em !important;
    background-size: 5px 5px, 5px 5px, 1px 1.5em !important;
    background-repeat: no-repeat !important;
}

select.form-control.app-select::-ms-expand {
    display: none;
}

select.form-control.app-select:-moz-focusring {
    color: transparent;
    text-shadow: none;
}

select.form-control.app-select:focus {
    background-image: linear-gradient(45deg, #ccc 50%, transparent 50%), linear-gradient(135deg, transparent 50%, #ccc 50%) !important;
    background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em !important;
    background-size: 5px 5px, 5px 5px, 1px 1.5em !important;
    background-repeat: no-repeat !important;
}
.quote-checkbox-form > li:nth-of-type(even) {
    padding-left: 18px;
}
.vertical-bottom {
    vertical-align: bottom !important;
}
.multiselect-section select.form-control {
    height: auto !important;
}
.state-specific ul li {
    width: 19.7% !important;
}

.state-specific ul li:not(:first-child) {
    margin-left: -2px !important;
}
.recent-quotes-headercls > ul >li {
    text-transform: capitalize;
}
.tax-and-history-table-header>.header-row{
    padding: 10px 15px;
}
.layoutgrid-outerborder {
    border-radius: 5px;
    background: #565469;
}
.no-pad-bottom {
    padding-bottom: 0 !important;
}

.popup-form ul li {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.popup-form ul li>div>div {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.popup-form ul li>div>div .form-control {
    width: 100%;
    font-size: 92.3%;
    background: #F5F5F5;
}
.driver-script-container.vechile-script-container {
    height: 77% !important;
}
.script-container ul {
    padding: 0;
}
.carrier-input-theme > input.app-textbox {
    height: 33px !important;
    width: 99% !important;
    margin-top: 2px;
    margin-left: 2px;
}
.carrier-input-theme .input-group-addon {
    padding: 6px;
}
.incident-margin-fix {
    margin-bottom: 40px;
}
.app-switch>.app-switch-overlay {
    display: none;
}

.app-switch a.btn.selected {
    background: #f9ae4f;
    color: #fff !important;
}