<wm-partial data-ng-controller="ansContainer1PageController" name="partial1">
    <wm-composite name="composite1">
        <wm-container class="col-md-9" name="container1">
            <wm-select name="answers" dataset="bind:Variables.getAnswersByQuestion.dataSet" datafield="questionAnswerId" displayfield="answerKey" on-change="answersChange($event, $scope, newVal, oldVal)" disabled="bind:pageParams.isDisabled" show="bind:pageParams.answer_data_type=='DROPDOWN'"
                datavalue="bind:Variables.getAnswersByQuestion.dataSet.content[0].questionAnswerId" orderby="defaultInd:desc"></wm-select>
        </wm-container>
    </wm-composite>
    <wm-composite name="composite2">
        <wm-container class="col-md-9" name="container2">
            <wm-text name="text1" on-change="text1Change($event, $scope, newVal, oldVal)" show="bind:pageParams.answer_data_type=='TEXT'" disabled="bind:pageParams.isDisabled"></wm-text>
        </wm-container>
    </wm-composite>
</wm-partial>