<wm-partial data-ng-controller="messagePartialPageController" name="partial1">
    <wm-list listclass="list-group" itemclass="list-group-item" template="true" itemsperrow="xs-1 sm-1 md-1 lg-1" class="media-list payment-partial-cls" name="GetMessagesList1" dataset="bind:Variables.GetMessages.dataSet" navigation="None" title="Message(s)">
        <wm-listtemplate layout="inline" name="listtemplate2">
            <wm-container class="media-body" padding="unset unset unset 1.25em" name="container3">
                <wm-layoutgrid name="layoutgrid1">
                    <wm-gridrow name="gridrow1">
                        <wm-gridcolumn columnwidth="11" name="gridcolumn2">
                            <wm-label name="Name" class="p media-heading" caption="bind:Variables.GetMessages.dataSet[$i]" fontsize="1.2" fontunit="em"></wm-label>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-container>
        </wm-listtemplate>
    </wm-list>
</wm-partial>