<wm-page data-ng-controller="ClientsPagePageController" pagetitle="Clients Page" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-container name="container1" class="quote-grid-container header-hover-cls">
                <wm-label padding="unset 0.5em" name="label2" caption="SEARCH RESULTS" fontweight="bold" class="h3"></wm-label>
                <wm-table name="getClientDetailsByNameTable1" title="" dataset="bind:Variables.getClientDetailsByName.dataSet" navigation="Basic" on-click="getClientDetailsByNameTable1Click($event, $scope, $rowData)" class="quote-submission-gridcls"
                    gridclass="custom-quote-grid" showrecordcount="true" navigationalign="right">
                    <wm-table-column binding="Applicant" caption="Applicant" edit-widget-type="text" type="string" mobiledisplay="false" searchable="false" show="true" readonly="false">
                        <wm-composite name="composite1">
                            <wm-container class="media-body" padding="unset unset unset unset" name="ApplicantDetails" content="ApplicantDetails">
                                <wm-param name="firstName" color="#508ae2" value="{{row.getProperty('firstName')}}" type="string"></wm-param>
                                <wm-param name="lastName" value="{{row.getProperty('lastName')}}" type="string"></wm-param>
                                <wm-param name="email" value="{{row.getProperty('email')}}" type="string"></wm-param>
                                <wm-param name="phone" value="{{row.getProperty('phoneNumber')}}" type="string "></wm-param>
                                <wm-param name="zipCode5" value="{{row.getProperty('zipCode5')}} " type="string "></wm-param>
                                <wm-param name="state" value="{{row.getProperty('stateCode')}}" type="string"></wm-param>
                                <wm-param name="city" value="{{row.getProperty('city')}}" type="string"></wm-param>
                                <wm-param name="address2" value=" {{row.getproperty('address1')}}" type="string"></wm-param>
                            </wm-container>
                        </wm-composite>
                    </wm-table-column>
                    <wm-table-column binding="owner" caption="Owner" edit-widget-type="text" type="string" mobiledisplay="false" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="customField1
                                " caption="" widget-type="anchor " textalignment="right" edit-widget-type="text" type="string " mobiledisplay="false" show="true " readonly="false">
                        <wm-anchor caption="Client Tab >" hyperlink="" class="client-button" name="clientTab" data-ng-class="" on-click="clientTabClick($event, $scope)"></wm-anchor>
                    </wm-table-column>
                    <wm-table-column binding="customField" caption="" widget-type="anchor" edit-widget-type="text" type="string" mobiledisplay="false" searchable="false" show="true" readonly="false">
                        <wm-anchor caption="Quote Tab >" hyperlink="" class="quote-button" data-ng-class=""></wm-anchor>
                    </wm-table-column>
                </wm-table>
            </wm-container>
        </wm-page-content>
    </wm-content>
</wm-page>
