<wm-partial data-ng-controller="premiumPartialPageController" name="partial1">
    <wm-layoutgrid name="layoutgrid27">
        <wm-gridrow name="gridrow142_1">
            <wm-gridcolumn columnwidth="6" name="gridcolumn186_1">
                <wm-list listclass="list-group" itemclass="list-group-item" template="true" itemsperrow="xs-1 sm-1 md-1 lg-1" class="media-list quote-listcls" name="PusherCarrierList1" dataset="bind:Variables.PusherCarrier.dataSet" navigation="None" orderby="totalPremium:desc"
                    enablereorder="true">
                    <wm-listtemplate layout="inline" name="listtemplate9_1">
                        <wm-container class="media-right" name="container15"></wm-container>
                        <wm-layoutgrid name="layoutgrid30">
                            <wm-gridrow name="gridrow150_2">
                                <wm-gridcolumn columnwidth="5" name="gridcolumn201_1">
                                    <wm-picture width="60%" height="60%" shape="circle" picturesource="bind:Variables.PusherCarrier.dataSet.image" class="media-object" name="picture4"></wm-picture>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="5" name="gridcolumn202_1" class="quotelist-details-columncls">
                                    <wm-label class="media-heading pull-left" caption="bind:Variables.PusherCarrier.dataSet.carrierName" fontunit="em" name="label42" show="false"></wm-label>
                                    <wm-layoutgrid name="layoutgrid32">
                                        <wm-gridrow name="gridrow154">
                                            <wm-gridcolumn columnwidth="6" name="gridcolumn206">
                                                <wm-label caption="bind:Variables.PusherCarrier.dataSet[$i].paidInFull" class="h5" margin="0px unset unset unset" name="label43"></wm-label>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="6" name="gridcolumn207">
                                                <wm-label padding="unset 0.5em" name="label41" caption="Paid in Full"></wm-label>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                        <wm-gridrow name="gridrow159">
                                            <wm-gridcolumn columnwidth="6" name="gridcolumn212"></wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="6" name="gridcolumn216">
                                                <wm-popover popoverwidth="400" margin="unset 0.5em" textdecoration="underline" caption="View payment options" content="paymentPartial" interaction="click" popoverplacement="right" name="popover7" on-show="popover7Show($event, $isolateScope, item, currentItemWidgets)"></wm-popover>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                        <wm-gridrow name="gridrow155">
                                            <wm-gridcolumn columnwidth="6" name="gridcolumn208">
                                                <wm-label padding="unset 0.5em" name="label42_1" caption="bind:Variables.PusherCarrier.dataSet[$i].discountCount"></wm-label>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="6" name="gridcolumn209">
                                                <wm-popover popoverwidth="400" margin="unset 0.5em" textdecoration="underline" caption="View all discounts" content="discountPartial" interaction="click" popoverplacement="right" on-show="popover2_1Show($event, $isolateScope, item, currentItemWidgets)"
                                                    name="popover5"></wm-popover>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                        <wm-gridrow name="gridrow158">
                                            <wm-gridcolumn columnwidth="12" name="gridcolumn214">
                                                <wm-popover popoverwidth="400" margin="unset 0.5em" textdecoration="underline" caption="Underwriting message" content="messagePartial" name="popover2" interaction="click" popoverplacement="right" on-show="popover2Show($event, $isolateScope, item, currentItemWidgets)"></wm-popover>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                    </wm-layoutgrid>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="3" name="gridcolumn205" horizontalalign="left">
                                    <wm-label caption="bind:Variables.PusherCarrier.dataSet.totalPremium" class="pull-left" margin="0px unset unset 30px" name="label45" color="#3348d6"></wm-label>
                                </wm-gridcolumn>
                            </wm-gridrow>
                        </wm-layoutgrid>
                    </wm-listtemplate>
                </wm-list>
            </wm-gridcolumn>
        </wm-gridrow>
    </wm-layoutgrid>
</wm-partial>