<wm-page data-ng-controller="IMLookUpPageController" pagetitle="Im Look Up" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-composite name="composite1">
                <wm-checkbox caption="Label" class="col-md-push-3 col-md-9" name="checkbox1" checkedvalue="True" uncheckedvalue="False" on-change="checkbox1Change($event, $scope, newVal, oldVal)" on-click="checkbox1Click($event, $scope)"></wm-checkbox>
            </wm-composite>
            <wm-composite name="composite2">
                <wm-checkbox caption="Label" class="col-md-push-3 col-md-9" name="checkbox2"></wm-checkbox>
            </wm-composite>
            <wm-composite name="composite3">
                <wm-label class="col-md-3 control-label" name="label1"></wm-label>
                <wm-container class="col-md-9" name="container1">
                    <wm-text name="text1" disabled="bind:Widgets.checkbox1.datavalue"></wm-text>
                </wm-container>
            </wm-composite>
        </wm-page-content>
    </wm-content>
</wm-page>