.help-text {
    background-color: rgb(242, 244, 245);
}

.cursor-hand {
    cursor: pointer;
}

.error-field {
    border: 2px solid red !important;
}

.toast:before {
    position: absolute;
    display: block;
    content: 'X';
    top: 5px;
    right: 10px;
    left: auto;
    bottom: auto;
}

.header-fontsize {
    font-size: 13px !important;
}

.app-datagrid-row {
    cursor: pointer;
}

body.modal-open .modal {
    will-change: transform;
}

.wm-app ul.nav.nav-tabs {
    background-color: #555369;
    padding-left: 60px;
    padding-right: 60px;
}

.wm-app .app-datanavigator .pagination.basic li.active a,
.wm-app .app-datanavigator .pagination.basic li.active a:hover,
.wm-app .app-datanavigator .pagination.basic li.active a:focus {
    color: #fff;
    background-color: #f9ae4f !important;
    border-radius: 3px;
    font-weight: inherit;
}

.wm-app .app-datanavigator .pagination.basic li a {
    border-radius: 3px;
    font-weight: inherit;
}

.wm-app .hide-elementcls {
    display: none !important;
}

.app-tabs .tab-content {
    max-width: 100%;
    height: calc(100% - 2.5em);
    background-color: aliceblue;
    overflow: auto;
    position: relative;
    background-color: rgb(242, 244, 245);
}

.tab-pane.ng-scope.ng-isolate-scope.active {
    background-color: rgb(242, 244, 245);
}

span.btn.btn-primary.app-switch-overlay.switch-handle.ng-binding {
    background-color: #F9AD50;
}
